({:thank-you-text          "Thanks top-priority",
  :allow-swallow           true,
  :repetition-type         "NONE",
  :clinician-rated         false,
  :assessment-id           535757,
  :repetition-interval     0,
  :scope                   0,
  :welcome-text            "Welcome top-priority",
  :shuffle-instruments     0,
  :priority                10,
  :show-texts-if-swallowed true,
  :is-record               false,
  :repetitions             1,
  :time-limit              0,
  :assessment-name         "Top-priority",
  :activation-hour         0}
  {:thank-you-text          "Second priority less important thank you",
   :allow-swallow           false,
   :repetition-type         "NONE",
   :clinician-rated         false,
   :assessment-id           535758,
   :repetition-interval     0,
   :scope                   0,
   :welcome-text            "Second priority less important welcome",
   :shuffle-instruments     0,
   :priority                20,
   :show-texts-if-swallowed true,
   :is-record               false,
   :repetitions             1,
   :time-limit              0,
   :assessment-name         "Second priority-alone",
   :activation-hour         0}
  {:thank-you-text          "The top top top thanks",
   :allow-swallow           true,
   :repetition-type         "NONE",
   :clinician-rated         false,
   :assessment-id           535762,
   :repetition-interval     0,
   :scope                   0,
   :welcome-text            "The top top top welcome",
   :shuffle-instruments     0,
   :priority                2,
   :show-texts-if-swallowed false,
   :is-record               false,
   :repetitions             1,
   :time-limit              0,
   :assessment-name         "Top-top-priority",
   :activation-hour         0}
  {:thank-you-text          "The very last ones",
   :allow-swallow           false,
   :repetition-type         "NONE",
   :clinician-rated         false,
   :assessment-id           535763,
   :repetition-interval     0,
   :scope                   0,
   :welcome-text            "These are the last texts",
   :shuffle-instruments     0,
   :priority                100,
   :show-texts-if-swallowed false,
   :is-record               false,
   :repetitions             1,
   :time-limit              0,
   :assessment-name         "Last prio",
   :activation-hour         0}
  {:thank-you-text          "",
   :allow-swallow           true,
   :repetition-type         "NONE",
   :clinician-rated         false,
   :assessment-id           535766,
   :repetition-interval     0,
   :scope                   0,
   :welcome-text            "",
   :shuffle-instruments     0,
   :priority                10,
   :show-texts-if-swallowed false,
   :is-record               false,
   :repetitions             1,
   :time-limit              0,
   :assessment-name         "Not-active",
   :activation-hour         0}
  {:thank-you-text          "",
   :allow-swallow           true,
   :repetition-type         "INTERVAL",
   :clinician-rated         false,
   :assessment-id           535768,
   :repetition-interval     7,
   :scope                   0,
   :welcome-text            "",
   :shuffle-instruments     0,
   :priority                11,
   :show-texts-if-swallowed false,
   :is-record               false,
   :repetitions             2,
   :time-limit              0,
   :assessment-name         "Two weeks",
   :activation-hour         0}
  {:thank-you-text          "",
   :allow-swallow           true,
   :repetition-type         "NONE",
   :clinician-rated         false,
   :assessment-id           535840,
   :repetition-interval     0,
   :scope                   0,
   :welcome-text            "",
   :shuffle-instruments     0,
   :priority                10,
   :show-texts-if-swallowed false,
   :is-record               false,
   :repetitions             1,
   :time-limit              0,
   :assessment-name         "Deeependent",
   :activation-hour         0}
  {:thank-you-text          "",
   :allow-swallow           true,
   :repetition-type         "NONE",
   :clinician-rated         false,
   :assessment-id           535850,
   :repetition-interval     0,
   :scope                   0,
   :welcome-text            "",
   :shuffle-instruments     0,
   :priority                10,
   :show-texts-if-swallowed false,
   :is-record               false,
   :repetitions             1,
   :time-limit              0,
   :assessment-name         "Deepeeendent 2",
   :activation-hour         0})