({:assessment-index 1
  :date-completed 0
  :assessment-id 535757
  :participant-activation-date #inst "2017-06-11T15:00:00.000-00:00"
  :group-administration-id nil
  :active 1
  :group-activation-date nil
  :participant-administration-id 536049
  :assessment-name "Top-priority"}
  {:assessment-index 1
   :date-completed 1497252961
   :assessment-id 535758
   :participant-activation-date #inst "2017-06-11T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536050
   :assessment-name "Second priority-alone"}
  {:assessment-index 1
   :date-completed 1497252961
   :assessment-id 535762
   :participant-activation-date #inst "2017-06-11T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536051
   :assessment-name "Top-top-priority"}
  {:assessment-index 1
   :date-completed 1497252961
   :assessment-id 535763
   :participant-activation-date #inst "2017-06-11T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536052
   :assessment-name "Last prio"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535766
   :participant-activation-date #inst "2017-06-21T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536053
   :assessment-name "Not-active"}
  {:assessment-index 1
   :date-completed 1497252941
   :assessment-id 535768
   :participant-activation-date #inst "2017-06-09T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536054
   :assessment-name "Two weeks"}
  {:assessment-index 2
   :date-completed 0
   :assessment-id 535768
   :participant-activation-date #inst "2017-06-16T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536055
   :assessment-name "Two weeks"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535840
   :participant-activation-date nil
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536056
   :assessment-name "Deeependent"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535850
   :participant-activation-date nil
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 536057
   :assessment-name "Deepeeendent 2"})