({:time #inst"2017-06-12T09:40:00.000-00:00",
  :user-id 535899,
  :batch-id 0,
  :step 0,
  :texts "()",
  :instrument-id nil,
  :administration-id nil}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 535899,
   :batch-id 0,
   :step 1,
   :texts nil,
   :instrument-id 535690,
   :administration-id 535904}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 535899,
   :batch-id 0,
   :step 2,
   :texts nil,
   :instrument-id 1660,
   :administration-id 535904}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 535899,
   :batch-id 0,
   :step 3,
   :texts nil,
   :instrument-id 1596,
   :administration-id 535907}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 535899,
   :batch-id 0,
   :step 4,
   :texts "()",
   :instrument-id nil,
   :administration-id nil})