({:assessment-index 1
  :date-completed 1495800806
  :assessment-id 535757
  :participant-activation-date #inst "2017-05-25T15:00:00.000-00:00"
  :group-administration-id nil
  :active 1
  :group-activation-date nil
  :participant-administration-id 535900
  :assessment-name "Top-priority"}
  {:assessment-index 1
   :date-completed 1495800762
   :assessment-id 535758
   :participant-activation-date #inst "2017-05-25T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535901
   :assessment-name "Second priority-alone"}
  {:assessment-index 1
   :date-completed 1495800762
   :assessment-id 535762
   :participant-activation-date #inst "2017-05-25T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535902
   :assessment-name "Top-top-priority"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535763
   :participant-activation-date nil
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535903
   :assessment-name "Last prio"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535766
   :participant-activation-date #inst "2017-06-04T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535904
   :assessment-name "Not-active"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535768
   :participant-activation-date nil
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535905
   :assessment-name "Two weeks"}
  {:assessment-index 2
   :date-completed 0
   :assessment-id 535768
   :participant-activation-date nil
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535906
   :assessment-name "Two weeks"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535840
   :participant-activation-date #inst "2017-05-27T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535907
   :assessment-name "Deeependent"}
  {:assessment-index 1
   :date-completed 0
   :assessment-id 535850
   :participant-activation-date #inst "2017-06-02T15:00:00.000-00:00"
   :group-administration-id nil
   :active 1
   :group-activation-date nil
   :participant-administration-id 535908
   :assessment-name "Deepeeendent 2"})