({:assessment-name               "Top-priority",
  :assessment-id                 535757,
  :participant-administration-id 535842,
  :assessment-index              1,
  :active?                       true,
  :date-completed                0M,
  :participant-activation-date   #inst"2017-05-23T22:00:00.000-00:00",
  :group-administration-id       nil,
  :group-activation-date         nil}
  {:assessment-name               "Second priority-alone",
   :assessment-id                 535758,
   :participant-administration-id 535843,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   #inst"2017-05-08T22:00:00.000-00:00",
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Top-top-priority",
   :assessment-id                 535762,
   :participant-administration-id 535844,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   #inst"2017-05-23T22:00:00.000-00:00",
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Last prio",
   :assessment-id                 535763,
   :participant-administration-id 535845,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   nil,
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Not-active",
   :assessment-id                 535766,
   :participant-administration-id 535846,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   nil,
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Two weeks",
   :assessment-id                 535768,
   :participant-administration-id 535847,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   nil,
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Two weeks",
   :assessment-id                 535768,
   :participant-administration-id 535848,
   :assessment-index              2,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   nil,
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Deeependent",
   :assessment-id                 535840,
   :participant-administration-id 535849,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   nil,
   :group-administration-id       nil,
   :group-activation-date         nil}
  {:assessment-name               "Deepeeendent 2",
   :assessment-id                 535850,
   :participant-administration-id 535851,
   :assessment-index              1,
   :active?                       true,
   :date-completed                0M,
   :participant-activation-date   nil,
   :group-administration-id       nil,
   :group-activation-date         nil})