({:thank-you-text                "Thanks top-priority",
  :allow-swallow                 true,
  :repetition-type               "NONE",
  :clinician-rated               false,
  :assessment-index              1,
  :date-completed                0M,
  :assessment-id                 535757,
  :participant-activation-date   #inst"2017-05-23T22:00:00.000-00:00",
  :repetition-interval           0,
  :scope                         0,
  :instruments                   (286 4743),
  :welcome-text                  "Welcome top-priority",
  :shuffle-instruments           0,
  :priority                      10,
  :show-texts-if-swallowed       true,
  :group-administration-id       nil,
  :active                        1,
  :is-record                     false,
  :repetitions                   1,
  :group-activation-date         nil,
  :time-limit                    0,
  :participant-administration-id 535842,
  :assessment-name               "Top-priority",
  :activation-hour               0}
  {:thank-you-text                "Second priority less important thank you",
   :allow-swallow                 false,
   :repetition-type               "NONE",
   :clinician-rated               false,
   :assessment-index              1,
   :date-completed                0M,
   :assessment-id                 535758,
   :participant-activation-date   #inst"2017-05-08T22:00:00.000-00:00",
   :repetition-interval           0,
   :scope                         0,
   :instruments                   (4431),
   :welcome-text                  "Second priority less important welcome",
   :shuffle-instruments           0,
   :priority                      20,
   :show-texts-if-swallowed       true,
   :group-administration-id       nil,
   :active                        1,
   :is-record                     false,
   :repetitions                   1,
   :group-activation-date         nil,
   :time-limit                    0,
   :participant-administration-id 535843,
   :assessment-name               "Second priority-alone",
   :activation-hour               0}
  {:thank-you-text                "The top top top thanks",
   :allow-swallow                 true,
   :repetition-type               "NONE",
   :clinician-rated               false,
   :assessment-index              1,
   :date-completed                0M,
   :assessment-id                 535762,
   :participant-activation-date   #inst"2017-05-23T22:00:00.000-00:00",
   :repetition-interval           0,
   :scope                         0,
   :instruments                   (4431),
   :welcome-text                  "The top top top welcome",
   :shuffle-instruments           0,
   :priority                      2,
   :show-texts-if-swallowed       false,
   :group-administration-id       nil,
   :active                        1,
   :is-record                     false,
   :repetitions                   1,
   :group-activation-date         nil,
   :time-limit                    0,
   :participant-administration-id 535844,
   :assessment-name               "Top-top-priority",
   :activation-hour               0})
