({:time #inst"2017-06-12T09:40:00.000-00:00",
  :user-id 536124,
  :batch-id 0,
  :step 0,
  :texts "(\"The top top top welcome\" \"Welcome top-priority\")",
  :instrument-id nil,
  :administration-id nil}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 0,
   :step 1,
   :texts nil,
   :instrument-id 4431,
   :administration-id 536127}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 0,
   :step 2,
   :texts nil,
   :instrument-id 4743,
   :administration-id 536127}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 0,
   :step 3,
   :texts nil,
   :instrument-id 286,
   :administration-id 536125}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 0,
   :step 4,
   :texts nil,
   :instrument-id 4743,
   :administration-id 536125}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 0,
   :step 5,
   :texts nil,
   :instrument-id 4568,
   :administration-id 536125}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 0,
   :step 6,
   :texts "(\"The top top top thanks\" \"Thanks top-priority\")",
   :instrument-id nil,
   :administration-id nil}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 1,
   :step 7,
   :texts "(\"Second priority less important welcome\")",
   :instrument-id nil,
   :administration-id nil}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 1,
   :step 8,
   :texts nil,
   :instrument-id 4431,
   :administration-id 536126}
  {:time #inst"2017-06-12T09:40:00.000-00:00",
   :user-id 536124,
   :batch-id 1,
   :step 9,
   :texts "(\"Second priority less important thank you\")",
   :instrument-id nil,
   :administration-id nil})