({:time #inst"1986-10-14T00:00:00.000-00:00",
  :user-id 234,
  :batch-id 0,
  :step 0,
  :texts "(\"The top top top welcome\" \"Welcome top-priority\")",
  :instrument-id nil,
  :administration-id nil}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 0,
   :step 1,
   :texts nil,
   :instrument-id 4431,
   :administration-id 535844}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 0,
   :step 2,
   :texts nil,
   :instrument-id 286,
   :administration-id 535842}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 0,
   :step 3,
   :texts nil,
   :instrument-id 4743,
   :administration-id 535842}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 0,
   :step 4,
   :texts "(\"The top top top thanks\" \"Thanks top-priority\")",
   :instrument-id nil,
   :administration-id nil}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 1,
   :step 5,
   :texts "(\"Second priority less important welcome\")",
   :instrument-id nil,
   :administration-id nil}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 1,
   :step 6,
   :texts nil,
   :instrument-id 4431,
   :administration-id 535843}
  {:time #inst"1986-10-14T00:00:00.000-00:00",
   :user-id 234,
   :batch-id 1,
   :step 7,
   :texts "(\"Second priority less important thank you\")",
   :instrument-id nil,
   :administration-id nil})