({:thank-you-text                "Thanks top-priority",
  :allow-swallow?                true,
  :repetition-type               "NONE",
  :clinician-rated?              false,
  :assessment-index              1,
  :date-completed                0,
  :assessment-id                 535757,
  :participant-activation-date
                                 #inst "2017-06-11T15:00:00.000-00:00",
  :repetition-interval           0,
  :scope                         0,
  :instruments                   (4743),
  :welcome-text                  "Welcome top-priority",
  :shuffle-instruments           0,
  :priority                      10,
  :show-texts-if-swallowed?      true,
  :group-administration-id       nil,
  :active                        1,
  :is-record?                    false,
  :repetitions                   1,
  :group-activation-date         nil,
  :time-limit                    0,
  :participant-administration-id 536049,
  :assessment-name               "Top-priority",
  :activation-hour               0})
