{:query-string "return-url=http%3A%2F%2Fdb1.localhost%3A3000%2Fuser%2F",
 :server-name "db1.localhost",
 :ssl-client-cert nil,
 :content-type nil,
 :path-info "/re-auth",
 :server-exchange #object[io.undertow.server.HttpServerExchange 0x540374f7 "HttpServerExchange{ GET /re-auth request {Accept=[text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8], Accept-Language=[sv-SE,sv;q=0.8,en-US;q=0.6,en;q=0.4], Cache-Control=[max-age=0], Accept-Encoding=[gzip, deflate, sdch, br], User-Agent=[Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36], Connection=[keep-alive], Cookie=[JSESSIONID=QHFYierdftx0McZto02Quxyf1Nl9IF04ZcEJYT1w], Referer=[http://db1.localhost:3000/double-auth], Upgrade-Insecure-Requests=[1], Host=[db1.localhost:3000]} response {Server=[undertow]}}"],
 :request-method :get,
 :character-encoding nil,
 :server-port 3000,
 :content-length -1,
 :body #object[io.undertow.io.UndertowInputStream 0x3ff9393c "io.undertow.io.UndertowInputStream@3ff9393c"],
 :uri "/re-auth",
 :handler-type :undertow,
 :remote-addr "127.0.0.1",
 :scheme :http,
 :headers {"host" "db1.localhost:3000",
           "user-agent" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36",
           "cookie" "JSESSIONID=QHFYierdftx0McZto02Quxyf1Nl9IF04ZcEJYT1w",
           "referer" "http://db1.localhost:3000/double-auth",
           "connection" "keep-alive",
           "upgrade-insecure-requests" "1",
           "accept" "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
           "accept-language" "sv-SE,sv;q=0.8,en-US;q=0.6,en;q=0.4",
           "accept-encoding" "gzip, deflate, sdch, br",
           "cache-control" "max-age=0"},
 :context ""}