{% extends "simple.html" %}
{% block content %}

<h1>{%tr login/login %}</h1>
<form method="post" class="">

    <div class="alert alert-danger hidden" data-show-on="error" role="alert">
        {%tr login/username-password-error %}
    </div>
    <div class="alert alert-danger hidden ajax-error-message" role="alert">
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">{%tr username %}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" data-clear-on="error" name="username"
                   placeholder="{%tr username %}" required autofocus>
            <div class="invalid-feedback">{%tr login/must-username %}</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">{%tr password %}</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" data-clear-on="error" id="password" name="password"
                   placeholder="{%tr password %}" required>
            <div class="invalid-feedback">{%tr login/must-password %}</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{%tr login/login %}</button>
</form>

{% endblock %}
