{% extends "user.html" %}
{% block user-content %}

<style>

</style>

<div class="container">

    <div class="treatment-content form tabbed" data-data-name="arbetsblad4_1i" id="4027">

        <p><strong>Hemuppgift 4.1 &ndash; Interoceptiv exponering</strong><br/>
            <br/>
            <strong>Datum f&ouml;r genomf&ouml;rd exponering:&nbsp;<input maxlength="10" name="date" size="10"
                                                                          type="text"/><br/>
                Exponering nummer (tidsordning):<input maxlength="10" name="number" size="10" type="text"/></strong></p>

        <p><strong>Inf&ouml;r exponeringen</strong></p>

        <p>1. Vilken exponering i min hierarki ska jag utf&ouml;ra?&nbsp;<br/>
            <textarea cols="80" name="1" rows="2"></textarea></p>

        <blockquote>a. Var?<br/>
            <textarea cols="60" name="1a" rows="6"></textarea></blockquote>

        <blockquote>b. N&auml;r? Vilken veckodag/tidpunkt?<br/>
            <textarea cols="60" name="1b" rows="2"></textarea></blockquote>

        <blockquote>c.&nbsp;Med n&aring;gon eller ensam?<br/>
            <textarea cols="60" name="1c" rows="4"></textarea></blockquote>

        <p>2. P&aring; vilken &aring;ngestniv&aring; ligger &ouml;vningen i min exponeringshierarki?&nbsp;<input
                maxlength="10" name="2" size="10" type="text"/></p>

        <p>3.&nbsp;Vad &auml;r det v&auml;rsta som skulle kunna h&auml;nda? (se tidigare arbetsblad)</p>

        <p><textarea cols="80" name="3" rows="5"></textarea></p>

        <p>4. Hur&nbsp;sannolikt tror du det &auml;r att det kommer h&auml;nda? (0 -100)&nbsp;<input maxlength="10"
                                                                                                     name="4" size="10"
                                                                                                     type="text"/></p>

        <p>5.&nbsp;Hur l&auml;nge ska du g&ouml;ra exponeringen f&ouml;r att utmana din farh&aring;ga? Vad &auml;r din
            tidsram? Ange tid i minuter&nbsp;<input maxlength="10" name="5" size="10" type="text"/></p>

        <p><strong>Efter exponeringen</strong></p>

        <p>6.&nbsp;Hur h&ouml;g var din &aring;ngest i b&ouml;rjan av exponerings&ouml;vningen​? (0-100)&nbsp;<input
                maxlength="10" name="6" size="10" type="text"/></p>

        <p>7.&nbsp;Hur mycket &aring;ngest k&auml;nde du som mest? (0-100)&nbsp;<input maxlength="10" name="7" size="10"
                                                                                       type="text"/></p>

        <p>8.&nbsp;Hur mycket &aring;ngest hade du i slutet av exponeringen? (0-100)&nbsp;<input maxlength="10" name="8"
                                                                                                 size="10" type="text"/>
        </p>

        <p>9.&nbsp;Hur l&aring;ng tid p&aring;gick din exponering?&nbsp;<input maxlength="10" name="9" size="10"
                                                                               type="text"/>&nbsp;minuter.</p>

        <p>10.&nbsp;H&auml;nde det som du var r&auml;dd f&ouml;r skulle h&auml;nda?&nbsp;<input name="10" type="radio"
                                                                                                value="JA"/>JA&nbsp;<input
                name="10" type="radio" value="NEJ"/>&nbsp;NEJ</p>

        <p>11.&nbsp;Hur vet du det?<br/>
            <textarea cols="80" name="11" rows="6"></textarea></p>

        <p>12.&nbsp;Vad l&auml;rde du dig? Blev du f&ouml;rv&aring;nad?<br/>
            <textarea cols="80" name="12" rows="6"></textarea></p>

        <p>13.&nbsp;Hur sannolikt &auml;r det att det du trodde var det v&auml;rsta som skulle kunna h&auml;nda faktiskt
            h&auml;nder n&auml;sta g&aring;ng? (0-100)&nbsp;<input maxlength="10" name="13" size="10" type="text"/></p>


        <form method="post" class="content-submitter" name="contentform" action="/user/content-data"
              onsubmit="return content_submit();">
            <input type="hidden" name="content-data" class="content-poster">
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>


</div>


{% endblock %}
{% block page-scripts %}

{% endblock %}
