{% extends "simple.html" %}
{% block content %}

<div class="card border-dark mb-3">
    <div class="card-header">BankID verification</div>
    <div class="card-body text-dark">
        <h5 class="card-title bankid-info" id="title">{%tr bankid/contacting %}</h5>
        <p class="card-text bankid-info" id="message">{%tr bankid/contacting-bankid %}</p>
    </div>
    <a class="btn btn-warning" href="/e-auth/bankid/reset">Cancel</a>
</div>

<h1>BankID debug status</h1>
<div class="alert alert-primary" role="alert">
    <p>Status: <span class="bankid-info" id="status"></span></p>
    <p>Hint code: <span class="bankid-info" id="hint-code"></span></p>
    <p>Error code: <span class="bankid-info" id="error-code"></span></p>
    <p>Error details: <span class="bankid-info" id="error-details"></span></p>
    <p>Loads: <span id="load-counter">0</span></p>
</div>

<script type="application/javascript">
   $(document).ready(function () {

      var $title = $('#title');
      var $message = $('#message');
      var $hint_code = $('#hint-code');
      var $load_counter = $('#load-counter');
      var interval;
      var pending = true;

      var success_fn = function (data) {
         // TODO: Remove this
         console.log(data);
         var status;
         if (!check_redirect(data)) {
            $('.bankid-info').each(
               function () {
                  //console.log(this);
                  var $el = $(this);
                  var id = $el.prop('id');
                  $el.text(data[id]);
               }
            );
            status = data.status;

            if ($.inArray(status, ['failed', 'error']) > -1) {
               $message.text($message.text() + ' ' + text_bankid_cancel);
            }

            if ($.inArray(status, ['complete', 'failed', 'error']) > -1) {
               clearInterval(interval);
               pending = false;
            }
         }
      };

      var error_fn = function (jqXHR) {
         $title.text(text_bankid_error);
         $message.text(text_bankid_error_text + ' ' + text_bankid_cancel);
         $hint_code.text(jqXHR.status);
         clearInterval(interval);
         pending = false;
      };

      var collect_status = function () {
         $load_counter.text((parseInt($load_counter.text()) || 0) + 1);
         $.ajax(
            "/e-auth/bankid/collect",
            {
               method: "post",
               success: success_fn,
               error: error_fn
            }
         );
      };

      $(window).on('beforeunload', function () {
         console.log('leaving page');
         $.ajax(
            "/e-auth/bankid/cancel",
            {
               method: "get",
               async: false,
               // TODO: Remove console.log
               success: function (data) {
                  console.log(data)
               }
            }
         );
      });
      interval = setInterval(collect_status, 1000)
   })
</script>

{% endblock %}
