{% extends "simple.html" %}
{% block content %}

<h1>BankID Test</h1>
<form method="post" action="/e-auth/bankid-launch">
    <input type="hidden" name="redirect-success" value="/e-auth/bankid-success">
    <input type="hidden" name="redirect-fail" value="/e-auth/bankid-test">
    <div class="form-group row">
        <label for="personnummer" class="col-sm-2 col-form-label">Personnummer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="personnummer" data-clear-on="error"
                   name="personnummer" placeholder="191212121212" value="197807129379" required autofocus>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Test!</button>
</form>

{% endblock %}
