{% extends "simple.html" %}
{% block content %}

<div class="card border-dark mb-3">
    <div class="card-header">{%tr bankid/title %}</div>
    <div class="card-body text-dark">
        <h5 class="card-title">
            <span class="fa fa-spinner fa-spin" style="color: black;" id="bankid-spinner"></span>
            <span class="bankid-info" id="title">{%tr bankid/contacting %}</span>
        </h5>
        <p class="card-text bankid-info" id="message">{%tr bankid/contacting-bankid %}</p>
    </div>
    <button class="btn btn-warning" onclick="bankid_cancel();">{%tr cancel %}</button>
</div>
<!--
<h1>BankID debug status</h1>
<div class="alert alert-primary" role="alert">
    <p>Status: <span class="bankid-info" id="status"></span></p>
    <p>Hint code: <span class="bankid-info" id="hint-code"></span></p>
    <p>Error code: <span class="bankid-info" id="error-code"></span></p>
    <p>Error details: <span class="bankid-info" id="error-details"></span></p>
    <p>Loads: <span id="load-counter">0</span></p>
</div>
-->
<script type="application/javascript">
   // Declared outside function because called by html element.
   var bankid_cancel;
   $(document).ready(function () {

      var $title = $('#title');
      var $message = $('#message');
      var $hint_code = $('#hint-code');
      var $load_counter = $('#load-counter');
      var interval;
      var pending = true;
      var error_count = 0;
      var $spinner = $('#bankid-spinner');

      var bankid_stop = function () {
         pending = false;
         clearInterval(interval);
         $spinner.removeClass('fa-spin');
      };

      bankid_cancel = function () {
         bankid_stop();
         window.location.href = "/e-auth/bankid/reset";
      };

      var success_fn = function (data) {
         $spinner.css('color', 'black');
         var status;
         error_count = 0;
         if (!check_redirect(data)) {
            $('.bankid-info').each(
               function () {
                  var $el = $(this);
                  var id = $el.prop('id');
                  $el.text(data[id]);
               }
            );
            status = data.status;

            if ($.inArray(status, ['failed', 'error']) > -1) {
               $message.text($message.text() + ' ' + text_bankid_cancel);
            }

            if ($.inArray(status, ['complete', 'failed', 'error']) > -1) {
               bankid_stop();
            }
         }
         else {
            // If redirected, then clear pending variables
            bankid_stop();
         }
      };

      var error_fn = function (jqXHR) {
         $spinner.css('color', 'red');
         error_count++;
         // Try contacting collect function ten times before reporting error.
         if (error_count > 10) {
            $title.text(text_bankid_error);
            $message.text(text_bankid_error_text + ' ' + text_bankid_cancel + ' (' + jqXHR.status + ')');
            $hint_code.text(jqXHR.status);
            bankid_stop();
         }
      };

      var collect_status = function () {
         $load_counter.text((parseInt($load_counter.text()) || 0) + 1);
         $spinner.css('color', 'green');
         $.ajax(
            "/e-auth/bankid/collect",
            {
               method: "post",
               success: success_fn,
               error: error_fn
            }
         );
      };
      interval = setInterval(collect_status, 1000)
   })
</script>

{% endblock %}
