{% extends "simple.html" %}
{% block content %}

<h1>{%tr login/login %}</h1>
<form method="post" action="/e-auth/bankid">
    <input type="hidden" name="redirect" value="https://www.dn.se">
    <div class="form-group row">
        <label for="personnummer" class="col-sm-2 col-form-label">Personnummer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="personnummer" data-clear-on="error"
                   name="personnummer" placeholder="19121212-1212" value="19780712-9379" required autofocus>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Test!</button>
</form>

{% endblock %}
