{% extends "simple.html" %}
{% block content %}

<h1>BankID status</h1>
<div class="alert alert-primary" role="alert">
    <p>Status: <span id="status"></span></p>
    <p>Message: <span id="message"></span></p>
    <p>Hint code: <span id="hint-code"></span></p>
    <p>Personnummer: <span id="personnummer"></span></p>
    <p>Name: <span id="name"></span></p>
    <p>Error code: <span id="error-code"></span></p>
    <p>Error details: <span id="error-details"></span></p>
    <p>Loads: <span id="load-counter">0</span></p>
</div>

<script type="application/javascript">
   $(document).ready(function () {
      var $status = $('#status');
      var $hint_code = $('#hint-code');
      var $message = $('#message');
      var $personnummer = $('#personnummer');
      var $name = $('#name');
      var $error_code = $('#error-code');
      var $error_details = $('#error-details');
      var $load_counter = $('#load-counter');
      var interval;

      var success_fn = function (data) {
         var status;
         console.log(data);
         if (!check_redirect(data)) {
            status = data['status'];
            $status.text(data['status']);
            $message.text(data['message']);
            $hint_code.text(data['hint-code']);
            $personnummer.text(data['personnummer']);
            $name.text(data['name']);
            $error_code.text(data['error-code']);
            $error_details.text(data['error-details']);
            if ($.inArray(status, ['complete', 'failed', 'error']) > -1) {
               clearInterval(interval);
            }
         }
      };

      var error_fn = function (jqXHR) {
         $status.text('ERROR');
         $hint_code.text(jqXHR.status);
         clearInterval(interval);
      };

      var collect_status = function () {
         $load_counter.text((parseInt($load_counter.text()) || 0) + 1);
         $.ajax(
            "/e-auth/bankid-collect",
            {
               method: "post",
               success: success_fn,
               error: error_fn
            }
         );
      };
      interval = setInterval(collect_status, 1000)
   })
</script>

{% endblock %}
