<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    <!-- styles -->
    {% style "/js/jquery-ui-slider/jquery-ui.css" %}
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style-modified "/css/screen.css" %}
    {% style-modified "/css/bass.css" %}

    {% block head %}
    {% endblock %}

    <!--{% style "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %}-->
</head>
<body>
{% script "/js/jquery/jquery-3.2.0.min.js" %}
<div id="main-body">
    {% if debug %}
    <div>{{debug}}</div>
    {% endif %}

    {% block x-content %}
    {% endblock %}
</div>
{% include "auth/re-auth-box-snip.html" %}
{% include "session-status-snip.html" %}
{% include "spinner-snip.html" %}

<!-- scripts -->
{% script "/js/jquery-ui-slider/jquery-ui.min.js" %}
{% script "/assets/jquery-color/jquery.color.js" %}
{% script "/assets/bootstrap/js/bootstrap.bundle.min.js" %}
{% script-modified "/js/layout.js" %}
{% script-modified "/js/session-status.js" %}
<script src="/js/underscore-min.js"></script>
{% script-modified "/js/form-ajax.js" %}
{% script-modified "/js/are-you-sure.js" %}
{% script "/js/js.cookie.js" %}
{% script "/js/sprintf.min.js" %}
{% script-modified "/js/instruments.js" %}
<script type="text/javascript">
   // @formatter:off
   var in_session = {{in-session?}};
   var session_timeout_hard_soon = {{timeout-hard-soon}};
   // @formatter:on
   var csrfToken = "{{csrf-token}}";
   var context = "{{servlet-context}}";
   var text_offline_warning = "{%tr offline-warning %}";
   var text_timeout_hard = "{%tr error/timeout-hard %}";
   var text_try_reloading = "{%tr error/try-reload %}";
   var text_server_busy = "{%tr error/server-busy %}";
   var text_unsaved_changes = "{%tr unsaved-changes %}";
   var text_tab = "{%tr tab %}";
   var text_logout_confirm = "{%tr logout-confirm %}";
   var text_page_top = "{%tr modules/page-top %}";
   var text_bankid_error = "{%tr bankid/error %}";
   var text_bankid_cancel = "{%tr bankid/cancel-go-back %}";
   var text_bankid_error_text = "{%tr bankid/error-text %}";
   var text_time_to_logout = "{%tr session-status/time-to-logout %}";
</script>
{% block page-scripts %}
{% endblock %}
</body>
</html>
