<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    <!-- styles -->
    {% style "/js/jquery-ui-slider/jquery-ui.css" %}
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
    {% style "/css/bass.css" %}
    <!--{% style "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %}-->
</head>
<body>
<div style="margin:auto;max-width: 960px;">
    <div id="main-body">
        {% if debug %}
        <div>{{debug}}</div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</div>
{% include "auth/re-auth-box-snip.html" %}
{% include "spinner-snip.html" %}

<!-- scripts -->
{% script "/js/jquery/jquery-3.2.0.min.js" %}
{% script "/js/jquery-ui-slider/jquery-ui.min.js" %}
{% script "/assets/tether/dist/js/tether.min.js" %}
{% script "/assets/bootstrap/js/bootstrap.bundle.min.js" %}
{% script "/js/bass4.js" %}
{% script "/js/are-you-sure.js" %}
{% script "/js/js.cookie.js" %}
{% script "/js/sprintf.min.js" %}
<script src="/js/instruments.js"></script>
<script type="text/javascript">
	var csrfToken = "{{csrf-token}}";
	var context = "{{servlet-context}}";
	var text_offline_warning = "{%tr offline-warning %}";
	var text_timeout_hard = "{%tr error/timeout-hard %}";
	var text_try_reloading = "{%tr error/try-reload %}";
	var text_unsaved_changes = "{%tr unsaved-changes %}";
	var text_tab = "{%tr tab %}";
	var text_logout_confirm = "{%tr logout-confirm %}";
</script>
{% block page-scripts %}
{% endblock %}
</body>
</html>
