<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to bass4</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
      {% style "/css/spinners.css" %}
      {% style "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %}
  </head>
  <body>
  <div id="main-body">

      {% block content %}
      {% endblock %}
  </div>
  {% include "re-auth-box.html" %}
  <!-- scripts -->
    {% script "/js/jquery/jquery-3.2.0.min.js" %}
     <!-- {% script "/js/jquery/jquery-ui-1.12.1/jquery-ui.min.js" %} -->
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
      {% script "/js/spinners.js" %}
      {% script "/js/bass4.js" %}
    <script type="text/javascript">
		 var csrfToken = "{{csrf-token}}";
         var context = "{{servlet-context}}";
         var str_offline_warning = "{%tr offline-warning %}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
