{% extends "base.html" %}
{% block content %}
<div class="treatment-content form {% if tabbed %}tabbed{% endif %}" data-data-name="{{data-name}}" id="{{content-id}}">
    {% if markdown %}
    {{text|markdown}}
    {% else %}
    {{text|safe}}
    {% endif %}
    <form method="post" class="content-submitter" name="contentform" action="/content-example/{{content-id}}"
          onsubmit="return content_submit();">
        <input type="hidden" name="content-data" class="content-poster">
        <button type="submit" class="btn btn-primary">{%tr save %}</button>
    </form>
</div>

{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
	// @formatter:off
    var content_data = {{content-data|json|safe}} || {};
    // @formatter:on

</script>
<script src="/js/contentdata.js"></script>
<script src="/js/underscore-min.js"></script>
{% endblock %}
