{% extends "simple.html" %}
{% block content %}
<div class="treatment-content form {% if tabbed? %}tabbed{% endif %}" data-data-name="{{data-name}}"
     id="{{content-id}}">
    {% if markdown? %}
    <div class="markdown">
        {{text|markdown}}
    </div>
    {% else %}
    {{text|safe}}
    {% endif %}
    <form method="post" class="content-submitter" name="contentform">
        <input type="hidden" name="content-data" class="content-poster">
        <button type="submit" class="btn btn-primary">{%tr save %}</button>
    </form>
</div>

{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
	// @formatter:off
    var content_data = {{content-data|json|safe}} || {};
    // @formatter:on

</script>
{% script-modified "/js/contentdata.js" %}
{% endblock %}
