{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Login</h1>
    <p>Please provide your double authentication code ({{double-auth-code}}).</p>
    <form method="post">
        {% csrf-field %}
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="code" name = "code" placeholder="Code">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
</div>

{% endblock %}