<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<script src="/js/jquery/jquery-3.2.0.min.js" type="text/javascript"></script>
<form action="" method="post">
    <input type="text" name="xxx">
    <button type="submit">Send</button>
</form>
<div>action: <span id="action"></span></div>
<div>href: <span id="href"></span></div>
<script type="text/javascript">
   $(document).ready(function () {
      $("form").each(function () {
         $('#action').text(this.action);
         $('#href').text(location.href);
      })
   });
</script>
</body>
</html>
