{% extends "simple.html" %}
{% block content %}

<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Answer</th>
        <th>Specification</th>
        <th>Item ID</th>
    </tr>
    </thead>
    {% for item in items %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
        <td>{{item.specification}}</td>
        <td>{{item.item-id}}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <thead>
    <tr>
        <th>Sum</th>
        <th>Value</th>
    </tr>
    </thead>
    {% for key, val in sums %}
    <tr>
        <td>{{key}}</td>
        <td>{{val}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}