{% extends "base.html" %}
{% block content %}

<div class="container">
    <div id = "instrument">
        <div class="hidden">
            <form method="get" action="/instrument/post/{{instrument-id}}">
                <input type="hidden" name="answers">
            </form>
        </div>
        <div class="instrument-show-name"></div>
        <div id="instrument-elements"></div>
    </div>
</div>

{% endblock %}

{% block page-scripts %}
<script src="/js/instruments.js"></script>
<script type="text/javascript">
   var instrument = {{instrument|json|safe}};
   var text_submit = "{%tr submit %}";
   var text_next = "{%tr next %}";
   var text_previous = "{%tr previous %}";
   var text_range_error = "{%tr instrument/range-error %}";
   var text_range_error_max = "{%tr instrument/range-error-max %}";
   var text_range_error_min = "{%tr instrument/range-error-max %}";
   var text_pattern_error = "{%tr instrument/pattern-error %}";
    var text_must_answer = "{%tr instrument/must-answer %}";
    var text_specification_missing_1 = "{%tr instrument/must-specify-1 %}";
	var text_specification_missing_m = "{%tr instrument/must-specify-m %}";
</script>
{% endblock %}
