{% extends "base.html" %}
{% block content %}

<div class="container">
    <div id = "instrument">
        <div class="instrument-show-name"></div>
        <div id="instrument-elements"></div>
    </div>
</div>

{% endblock %}

{% block page-scripts %}
<script src="/js/instruments.js"></script>
<script type="text/javascript">
	 var instrument = {{instrument|json|safe}};
     var text_submit = "{%tr submit %}";
	 var text_next = "{%tr next %}";
	 var text_previous = "{%tr previous %}";
</script>
{% endblock %}
