{% extends "base.html" %}
{% block content %}

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Answer</th>
        </tr>
        </thead>
        {% for key, val in items %}
        <tr>
            <td>{{key}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <thead>
        <tr>
            <th>Specification ID</th>
            <th>Answer</th>
        </tr>
        </thead>
        {% for key, val in specifications %}
        <tr>
            <td>{{key}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <thead>
        <tr>
            <th>Sum</th>
            <th>Value</th>
        </tr>
        </thead>
        {% for key, val in sums %}
        <tr>
            <td>{{key}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}