{% extends "simple.html" %}
{% block content %}
<h1>Items</h1>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Answer</th>
        <th>Specification</th>
        <th>Item ID</th>
    </tr>
    </thead>
    {% for item in items %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
        <td>{{item.specification}}</td>
        <td>{{item.item-id}}</td>
    </tr>
    {% endfor %}
</table>

<h1>Sums</h1>
<table>
    <thead>
    <tr>
        <th>Sum</th>
        <th>Value</th>
    </tr>
    </thead>
    {% for key, val in sums %}
    <tr>
        <td>{{key}}</td>
        <td>{{val}}</td>
    </tr>
    {% endfor %}
</table>

<h1>Flags</h1>
{% for project-id, specs in flag-specs %}
<h2>{{project-names|get:@project-id}}</h2>
{% for spec in specs %}
<p>
    <code>{{spec.condition}}</code>
    {% if spec.error %}
    ERROR: "{{spec.error}}"
    {% else %}
    {% if spec.match? %}
    Answers match condition. Message: "{{spec.message}}"
    {% else %}
    Answers do not match condition.
    {% endif %}
    {% endif %}
</p>
{% endfor %}
{% endfor %}

{% endblock %}