{% extends "tx-base.html" %}
{% block user-content %}

{% for item in messages %}
<div class='d-flex justify-content-{% ifequal item.sender-type "participant" %}end{% else %}start{% endifequal %}'>
    <div class="col-10 col-sm-8">
        <div class="card message {{item.sender-type}} {% if item.unread? %} unread {% endif %}"
             id="message-{{item.message-id}}">
            <div class='card-footer {% ifequal item.sender-type "participant" %}text-right{% endifequal %}'>
                {% if item.subject %}<strong>{{item.subject}}</strong><br>{% endif %}
                {% ifequal item.sender-type "therapist" %}
                {%trb messages/sent-on-from%} {{item.sender-name}} | {{item.send-datetime|nice-datetime}} {%endtrb%}
                {% if item.unread? %} <i class="fa fa-envelope"></i> {% endif %}
                {% if dev %}<span class="visibility" style="color: red;"></span>{% endif %}
                {% else %}
                {%trb messages/sent-on-from%} {%tr me %} | {{item.send-datetime|nice-datetime}} {%endtrb%}
                {% endifequal %}
            </div>
            <div class="card-body">
                {{item.text|linebreaks|safe}}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if send-messages? %}
<div class="row">
    <div class="col-md-12">
        <h3>{%tr messages/new-message-title %}</h3>
        <form method="post" id="new-message-form">
            <div class="form-group">
                        <textarea class="form-control" placeholder="{%tr messages/text %}" name="text" rows="5"
                                  required>{{draft.text}}</textarea>
                <div class="invalid-feedback">{%tr messages/must-message %}</div>
            </div>
            <button type="submit" class="btn btn-fill btn-info">{%tr submit %}</button>
            <button type="button" class="btn btn-fill btn-warning" id="draft-button">
                {%tr messages/save-draft %}
                <span class="fa fa-spinner fa-spin" style="display: none;" id="new-message-spinner"></span>
            </button>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}

{% block page-scripts %}
{% script-modified "/js/messages.js" %}
<script src="/js/screentime.js"></script>
{% endblock %}
