{% extends "base.html" %}
{% block content %}

{% for item in messages %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <p class="category">Sent by {{item.sender-name}} on {{item.send-datetime|date:"yyyy-MM-dd HH:mm:ss"}}</p>
            </div>
            <div class="content">
                <p>{{item.text}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <form method="post" class="message">
                    {% csrf-field %}
                    <div class="form-group">
                        <label>New message</label>
                        <textarea class="form-control" placeholder="Write your message here" name="text" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page-scripts %}
<script src="/js/messages.js"></script>
{% endblock %}
