{% extends "tx-base.html" %}

{% block nav-block %}
<div class="container">
    <div class="row no-gutters">
        <div class="col col-lg-10 offset-lg-1">
            <nav id="module-navbar" class="navbar navbar-light bg-light" data-module-id="module-{{module-id}}">
                <div class="navbar-nav">
                    <div class="dropdown">
                        <button class="nav-link dropdown-toggle btn bg-light text-truncate"
                                data-toggle="dropdown" id="module-nav-dropdown-toggler" type="button">
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block user-content %}
<div class="module" id="module-{{module-id}}">
    <div id="{{content-id}}" data-namespace="{{namespace}}" class="treatment-content module-text form">
        <div class="position-fixed">
            <span id="position-indicator" class="badge badge-pill badge-primary">XX/XX</span>
        </div>
        {% include "module-content-render-snip.html" %}
        <form method="post" class="content-submitter" name="contentform"
              data-on-success="main_text_save_complete" onsubmit="return content_submit(event);">
            <input type="hidden" name="content-data" class="content-poster">
            <button type="submit" class="btn btn-primary hidden btn-block fixed-bottom changes-saver">
                {%tr save-changes %}
            </button>
        </form>
    </div>
</div>
{% endblock %}