{% extends "nav.html" %}
{% block user-content %}
{% if submitted %}
<div class="alert alert-{% if submitted.ok %}success{% else %}info{% endif %}" role="alert">
    {% if submitted.ok %}
    <strong>{%tr modules/submitted-ok-title %}</strong>
    {% tr modules/submitted-ok-text %}
    {% else %}
    <strong>{%tr modules/submitted-waiting-title %}</strong>
    {% trb modules/submitted-waiting-text %}{{submitted.time|nice-datetime}}{% endtrb %}
    <form method="post" action="retract-homework">
        <button type="submit" class="btn btn-danger">{%tr modules/retract-homework %}</button>
    </form>
    {% endif %}
</div>
{% endif %}
<div class="treatment-content {% if submitted %}readonly{% else %}form{% endif %}" data-data-name="{{data-name}}">
    {% include "module-markdown-snip.html" %}
    {% if not submitted %}
    <form method="post" class="content-submitter" name="contentform" action=""
          onsubmit="return content_submit();">
        <input type="hidden" name="content-data" class="content-poster">
        <input type="hidden" name="submitting" value="0">
        <button type="submit" class="btn btn-primary" onclick="submit_homework();">{%tr modules/submit-homework %}
        </button>
        <button type="submit" class="btn btn-warning">{%tr modules/save-homework %}</button>
    </form>
    {% endif %}
</div>
<script>
	function submit_homework() {
		 $(event.target).siblings('[name="submitting"]').val(1);
	}
</script>
{% endblock %}

