{% extends "nav.html" %}

{% block nav-block %}
<div class="container">
    <div class="row no-gutters">
        <div class="col col-lg-10 offset-lg-1">
            <nav id="module-navbar" class="navbar navbar-light bg-light" data-module-id="module-{{module-id}}">
                <div class="navbar-nav">
                    <div class="dropdown">
                        <div class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-toggler" href="#"
                             role="button">
                            <span class="navbar-text" id="module-section-label"></span>
                        </div>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block user-content %}
<div class="module" id="module-{{module-id}}">
    <div id="{{content-id}}" data-data-name="{{data-name}}" class="treatment-content module-text form">
        {% include "module-markdown-snip.html" %}
        <form method="post" class="content-submitter" name="contentform" data-on-success="main_text_save_complete"
              onsubmit="return content_submit();">
            <input type="hidden" name="content-data" class="content-poster">
            <button type="submit" class="btn btn-primary hidden btn-block fixed-bottom changes-saver">{%tr save-changes
                %}
            </button>
        </form>
    </div>
</div>
{% endblock %}