{% extends "nav.html" %}
{% block user-content %}
{% if show-example %}
<a href="{{path}}/example?return={{path}}" class="btn btn-primary btn-sm">{%tr modules/show-example %}</a>
{% endif %}

<div class="treatment-content form {% if tabbed %}tabbed{% endif %}" data-data-name="{{data-name}}" id="{{content-id}}">
    {% include "module-content-render-snip.html" %}
    <form method="post" class="content-submitter" name="contentform" action="/user/content-data"
          onsubmit="return content_submit();">
        <input type="hidden" name="content-data" class="content-poster">
        <button type="submit" class="btn btn-primary">{%tr save %}</button>
    </form>
</div>

{% endblock %}
