{% extends "user.html" %}
{% block user-content %}

{% ifequal nil text %}
No such module
{% else %}
<div class="module" id="module-111">
    <nav id="module-navbar" class="navbar navbar-light bg-faded">
        <div class="navbar-nav">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <span class="navbar-text" id="module-section-label"></span>
            </a>
            <div class="dropdown-menu">
            </div>

        </div>

    </nav>
    <div id="module-text">
        {% if markdown %}
        {{text|markdown}}
        {% else %}
        {{text|safe}}
        {% endif %}
    </div>
</div>
{% endifequal %}
{% endblock %}