{% extends "nav.html" %}
{% block user-content %}
{% for module in modules %}
<div class="row list">
    <div class="col-sm-12 col-md-6">
        {% if module.active %}


        <!-- MODULE ACTIVE INFO -->
        <h3>{{module.module-name}}</h3>

        {% if module.activation-date %}
        <p>{% tr modules/activated %} {{module.activation-date|nice-date}}</p>
        {% endif %}

        {% if module.contents.main-texts %}
        <p><a href="/user/module/{{module.module-id}}/">{% tr modules/read-module-text %}</a></p>
        {% endif %}

        <!-- END MODULE ACTIVE INFO -->


        <!-- START HOMEWORK-->
        {% if module.contents.homework %}
        <h5><a href="/user/module/{{module.module-id}}/homework">{% tr modules/homework %}</a>
            {% ifequal module.homework-status :ok %}
            <span class="badge badge-success">{% tr modules/submitted-ok-short! %}</span>
            {% endifequal %}
            {% ifequal module.homework-status :submitted %}
            <span class="badge badge-info">{% tr modules/submitted-waiting-short! %}</span>
            {% endifequal %}
            {% endif %}
        </h5>
        <!-- END HOMEWORK-->


        {% else %}
        <h3>{{module.module-name}}</h3>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-6">
        {% if module.active %}

        <!-- START WORKSHEETS -->
        {% if module.contents.worksheets %}
        <h5>{% tr modules/worksheets %}</h5>
        {% for worksheet in module.contents.worksheets %}
        <p><a href="/user/module/{{module.module-id}}/worksheet/{{worksheet.content-id}}">{{worksheet.content-name}}</a>
        </p>
        {% endfor %}
        {% endif %}
        <!-- END WORKSHEETS -->

        {% else %}
        Not available
        {% endif %}
    </div>
</div>
{% endfor %}


{% endblock %}

