{% extends "base.html" %}
{% block x-content %}

<!-- navbar -->
<div id="top-nav" class="fixed-top">

    <nav class="navbar navbar-expand-md navbar-light" id="main-nav">
        <div class="container justify-content-start" id="main-navbar">
            <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- TODO: Double style settings here and css? -->
            <span id="page-title" class="navbar-brand d-md-none text-truncate" style="max-width: 220px;">
            {% if page-title %}
            {{page-title}}
            {% else %}
            &nbsp;
            {% endif %}
                </span>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="/user/"
                       class='nav-link{% ifequal path "/user/" %} active{%endifequal%}'>
                        {%tr dashboard/start %}
                    </a>
                    {% if messaging %}
                    <a href="/user/messages"
                       class='nav-link{% ifequal path "/user/messages" %} active{%endifequal%}'>
                        {%tr messages/messages %}
                        {% if new-messages? %}
                        <i class="fa fa-envelope" title="{%tr messages/new-message %}" id="new-message-icon"></i>
                        {% endif %}
                    </a>
                    {% endif %}
                    {% if modules %}
                    <a href="/user/modules"
                       class='nav-link{% ifequal path "/user/modules" %} active{%endifequal%}'>
                        {%tr modules/modules %}
                    </a>
                    {% endif %}

                    <div class="d-md-none">
                        {% if context-menu %}
                        <!-- Mobile context menu -->
                        <!-- https://stackoverflow.com/questions/35351353/missing-visible-and-hidden-in-bootstrap-v4 -->
                        <div class="dropdown-divider"></div>
                        {% if context-menu.title %}
                        <div class='navbar-text' style="display:block; text-align:center;">{{context-menu.title}}</div>
                        {% endif %}
                        {% for item in context-menu.items %}
                        <a href="{{item.link}}"
                           class="nav-link{% ifequal path item.link %} active{%endifequal%}">{{item.name}}</a>
                        {% endfor %}
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a href="/user/error-report"
                           class='nav-link{% ifequal path "/user/error-report" %} active{%endifequal%}'>
                            {%tr error-report/problems? %}
                        </a>
                        {% if not privacy-notice-disabled? %}
                        <a href="/user/privacy-notice"
                           class='nav-link{% ifequal path "/user/privacy-notice" %} active{%endifequal%}'>
                            {%tr privacy-notice/notice-title %}
                        </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a onclick="confirm_logout();" class='nav-link'>
                            <span class="fa fa-power-off"></span> {%tr logout %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block navbar-nav">
                <a href="/user/error-report"
                   class='nav-link {% ifequal path "/user/error-report" %} active{%endifequal%}'>
                    {%tr error-report/problems? %}</a>
            </div>
            {% if not privacy-notice-disabled? %}
            <div class="d-none d-md-block navbar-nav">
                <a href="/user/privacy-notice"
                   class='nav-link {% ifequal path "/user/privacy-notice" %} active{%endifequal%}'>
                    {%tr privacy-notice/notice-title %}</a>
            </div>
            {% endif %}
            <div class="d-none d-md-block navbar-nav">
                <a onclick="confirm_logout();" class='nav-link'>
                    <span class="fa fa-power-off"></span>
                </a>
            </div>
        </div>
    </nav>
    {% if context-menu %}
    <!-- Desktop context menu -->
    <!-- https://stackoverflow.com/questions/35351353/missing-visible-and-hidden-in-bootstrap-v4 -->
    <div class="d-none d-md-block">
        <nav class="navbar navbar-expand-md navbar-light bg-light" id="context-nav" style="margin-top: -10px;">
            <div class="container">
                <div class="navbar-nav">
                    {% if context-menu.title %}
                    <span class='navbar-brand'>{{context-menu.title}}</span>
                    {% endif %}
                    {% for item in context-menu.items %}
                    <a href="{{item.link}}"
                       class='nav-link{% ifequal path item.link %} active{%endifequal%}'>{{item.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
    {% endif %}
    {% block nav-block %}
    {% endblock %}
</div>

<div class="container">
    <div class="row no-gutters">
        <div class="col col-lg-10 offset-lg-1">
            {% block user-content %}
            {% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript">
   // @formatter:off
    var content_data = {{content-data|json|safe}} || {};
    // @formatter:on
</script>
{% script-modified "/js/contentdata.js" %}

{% endblock %}

