<!-- Re-auth modal box-->
<div class="modal" id="re-auth-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form method="post" id = "re-auth-modal-form" action="/re-auth-ajax" onsubmit="return re_auth_modal_submit();" class="no-ajax">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{%tr login/re-auth %}</h4>
                </div>
                <div class="modal-body">
                    <p>{%tr login/please-password %}</p>
                    <div class="form-group">
                        <input type="password" class="form-control" id="re-auth-modal-password" name = "password" placeholder="{%tr password %}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{%tr login/login %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
