{% extends "simple.html" %}

{% block content %}
<div>
    <form method="post" id="consent-form">
        <div class="alert alert-primary lead" role="alert">
            {%tr privacy-notice/consent-title %}
        </div>
        <div class="markdown">
            {{privacy-notice|markdown}}
        </div>
        <input type="hidden" name="i-consent" id="i-consent">
        <div class="text-center">
            <p>
                <button type="button" class="btn btn-primary" onclick="i_consent();">{%tr i-consent %}</button>
            </p>
            <p>
                <button type="button" class="btn btn-warning" name="no-consent"
                        value="{%tr privacy-notice/no-consent %}" onclick="no_consent();">
                    {%tr privacy-notice/no-consent %}
                </button>
            </p>
        </div>
    </form>
</div>
<script type="text/javascript">
   function no_consent() {
      var text_no_consent_info = "{%tr privacy-notice/no-consent-info %}";
      var email = "{{email}}";

      if (confirm(text_no_consent_info + ' ' + email + '.')) {
         $('#i-consent').val('no-consent');
         $('#consent-form').submit();
      }
      else {
      }
   }

   function i_consent() {
      $('#i-consent').val('i-consent');
      $('#consent-form').submit();
   }
</script>
{% endblock %}