{% extends "simple.html" %}
{% block content %}
<h1>{%tr registration/credentials-heading %}</h1>
<p>{%tr registration/credentials-info %}</p>

<div class="col-10">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{%tr username %}</label>
        <div class="col-sm-9">
            <span type="text" class="form-text username">{{username}}</span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{%tr password %}</label>
        <div class="col-sm-9">
            <span type="text" class="form-text password">
                {% if password %}{{password}}{% else %}{%tr registration/entered-password %}{% endif %}
            </span>
        </div>
    </div>
</div>
{% if assessments? %}
<p>
    {%tr registration/assessments-following %}
    {%tr registration/credentials-resume-info %}
</p>
{% endif %}
<p>{%tr registration/login-address %} {{login-url}}</p>
<button class="btn btn-primary" onclick="document.location = '/registration/{{project-id}}/finished'">
    {%tr registration/credentials-noted %}
</button>
{% endblock %}