{% extends "simple.html" %}

{% block content %}
<div>
    {% if privacy-notice %}
    <form method="post">
        <div class="alert alert-primary lead" role="alert">
            {%tr registration/privacy-notice-consent %}
        </div>
        <div class="markdown">
            {{privacy-notice|markdown}}
        </div>
        <div class="text-center">
            <button href="/registration/{{project-id}}/form" class="btn btn-primary">{%tr i-consent %}</button>
        </div>
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">
        This database or project has no privacy notice.<br>
        Registration cannot proceed.
    </div>
    {% endif %}
</div>
{% endblock %}