{% extends "simple.html" %}

{% block head %}
{% if sms? %}
{% style "/js/intl-tel-input/css/intlTelInput.css" %}
{% style "/css/intl-override.css" %}
{% endif %}
{% endblock %}

{% block content %}
<div id="registration-div">
    <h3>{%tr registration/form-title %}</h3>
    <div class="col-10">
        <form method="post" class="no-validate" id="registration-form">
            <!-- FIRST NAME -->
            {% if first-name %}
            <div class="form-group row">
                <label for="first-name" class="col-sm-3 col-form-label">{%tr registration/first-name %}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="first-name" name="first-name"
                           value="{{first-name-value}}"
                           placeholder="" required>
                </div>
            </div>
            {% else %}
            {% if first-name-value %}
            <div class="form-group row">
                <div class="col-sm-3 form-text">{%tr registration/first-name %}</div>
                <div class="col-sm-9 form-text">{{first-name-value}}</div>
            </div>
            {% endif %}
            {% endif %}

            <!-- LAST NAME -->
            {% if last-name %}
            <div class="form-group row">
                <label for="last-name" class="col-sm-3 col-form-label">{%tr registration/last-name %}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="last-name" name="last-name" value="{{last-name-value}}"
                           placeholder="" required>
                </div>
            </div>
            {% else %}
            {% if last-name-value %}
            <div class="form-group row">
                <div class="col-sm-3 form-text">{%tr registration/last-name %}</div>
                <div class="col-sm-9 form-text">{{last-name-value}}</div>
            </div>
            {% endif %}
            {% endif %}

            <!-- PID NUMBER -->
            {% if pid-number %}
            <div class="form-group row">
                <label for="pid-number" class="col-sm-3 col-form-label">{{pid-name}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="pid-number" name="pid-number"
                           placeholder="{{pid-format}}" oninput="validate_pid();" value="{{pid-number-value}}" required>
                </div>
            </div>
            {% else %}
            {% if pid-number-value %}
            <div class="form-group row">
                <div class="col-sm-3 form-text">{{pid-name}}</div>
                <div class="col-sm-9 form-text">{{pid-number-value}}</div>
            </div>
            {% endif %}
            {% endif %}

            <!-- EMAIL -->
            {% if email %}
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">{%tr registration/email %}</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" value="{{email-value}}"
                           placeholder="" required>
                </div>
            </div>
            {% else %}
            {% if email-value %}
            <div class="form-group row">
                <div class="col-sm-3 form-text">{%tr registration/email %}</div>
                <div class="col-sm-9 form-text">{{email-value}}</div>
            </div>
            {% endif %}
            {% endif %}

            <!-- SMS NUMBER -->
            {% if sms-number %}
            <div class="alert alert-danger hidden" data-show-on="sms-country-error" role="alert">
                {%tr registration/sms-country-error %}
            </div>

            <div class="form-group row">
                <label for="sms-number" class="col-sm-3 col-form-label">{%tr registration/sms-number %}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="sms-number" onchange="sms_change();"
                           value="{{sms-number-value}}"
                           required>
                </div>
            </div>
            {% else %}
            {% if sms-number-value %}
            <div class="form-group row">
                <div class="col-sm-3 form-text">{%tr registration/sms-number %}</div>
                <div class="col-sm-9 form-text">{{sms-number-value}}</div>
            </div>
            {% endif %}
            {% endif %}

            <!-- PASSWORD -->
            {% if password %}
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">{%tr password %}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password"
                           oninvalid="password_invalid();"
                           oninput="setCustomValidity(''); validate_password();"
                           placeholder="{%tr registration/password-req-info %}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="password-repeat" class="col-sm-3 col-form-label">{%tr registration/repeat-password
                    %}</label>
                <div class="col-sm-9">
                    <input type="password" oninput="validate_password();" class="form-control" id="password-repeat"
                           placeholder="{%tr registration/repeat-password %}"
                           required>
                </div>
            </div>
            {% endif %}
            <button onclick="return confirm_registration_dialog();" class="btn btn-primary">{%tr submit %}</button>
            <button onclick="document.location = '/registration/{{project-id}}/cancel'; return false;"
                    class="btn btn-warning">{%tr
                registration/cancel %}
            </button>
        </form>
    </div>
</div>


<div class="col-10 hidden" id="confirm-div">
    <h2>{%tr registration/please-review %}</h2>
    <!-- FIRST NAME -->
    {% if first-name %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/first-name %}</div>
        <div class="col-sm-9 form-text" id="first-name-confirm"></div>
    </div>
    {% else %}
    {% if first-name-value %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/first-name %}</div>
        <div class="col-sm-9 form-text">{{first-name-value}}</div>
    </div>
    {% endif %}
    {% endif %}

    <!-- LAST NAME -->
    {% if last-name %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/last-name %}</div>
        <div class="col-sm-9 form-text" id="last-name-confirm"></div>
    </div>
    {% else %}
    {% if last-name-value %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/last-name %}</div>
        <div class="col-sm-9 form-text">{{last-name-value}}</div>
    </div>
    {% endif %}
    {% endif %}

    <!-- PID NUMBER -->
    {% if pid-number %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{{pid-name}}</div>
        <div class="col-sm-9 form-text" id="pid-number-confirm"></div>
    </div>
    {% else %}
    {% if pid-number-value %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{{pid-name}}</div>
        <div class="col-sm-9 form-text">{{pid-number-value}}</div>
    </div>
    {% endif %}
    {% endif %}

    <!-- EMAIL -->
    {% if email %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/email %}</div>
        <div class="col-sm-9 form-text" id="email-confirm"></div>
    </div>
    {% else %}
    {% if email-value %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/email %}</div>
        <div class="col-sm-9 form-text">{{email-value}}</div>
    </div>
    {% endif %}
    {% endif %}

    <!-- SMS NUMBER -->
    {% if sms-number %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/sms-number %}</div>
        <div class="col-sm-9 form-text">
            <span id="sms-number-confirm"></span>
            <small class="form-text" id="sms-country"></small>
        </div>
    </div>
    {% else %}
    {% if sms-number-value %}
    <div class="form-group row">
        <div class="col-sm-3 form-text">{%tr registration/sms-number %}</div>
        <div class="col-sm-9 form-text">{{sms-number-value}}</div>
    </div>
    {% endif %}
    {% endif %}

    <button class="btn btn-primary" onclick="confirm_registration();">{%tr confirm %}</button>
    <button class="btn btn-warning" onclick="change_registration();">{%tr registration/change-information %}</button>
</div>

<!-- PID NUMBER -->
{% if pid-number %}
{% if pid-validator %}
<script type="application/javascript">
   // @formatter:off
   var pid_validator = {{pid-validator|safe}};
   // @formatter:on
</script>
{% endif %}
{% endif %}

{% if sms? %}
<script src="/js/intl-tel-input/js/intlTelInput.min.js"></script>
<script type="text/javascript">
   var sms_countries = eval('{{sms-countries|safe}}');
</script>
{% endif %}

{% if password %}
<script type="text/javascript">
   var text_no_match = "{%tr registration/repeat-not-match %}";
   var text_password_invalid = "{%tr registration/password-req-error %}";
</script>
{% endif %}

<script src="/js/registration.js"></script>
{% endblock %}