{% extends "simple.html" %}
{% block head %}
{% style "/js/intl-tel-input/css/intlTelInput.css" %}
{% style "/css/intl-override.css" %}
{% endblock %}

{% block content %}
{% if markdown? %}
<div class="markdown">
    {{info|markdown}}
</div>
{% else %}
{{info|safe}}
{% endif %}

<div class="col-10">
    <form method="post" class="no-validate" id="registration-form">
        <div class="alert alert-danger hidden" data-show-on="error" role="alert">
            {%tr login/username-password-error %}
        </div>
        <div class="alert alert-danger hidden ajax-error-message" role="alert">
        </div>

        <!-- FIRST NAME -->
        {% if first-name %}
        <div class="form-group row">
            <label for="first-name" class="col-sm-3 col-form-label">{%tr registration/first-name %}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="first-name" name="first-name"
                       placeholder="" required>
            </div>
        </div>
        {% endif %}

        <!-- LAST NAME -->
        {% if last-name %}
        <div class="form-group row">
            <label for="last-name" class="col-sm-3 col-form-label">{%tr registration/last-name %}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="last-name" name="last-name"
                       placeholder="" required>
            </div>
        </div>
        {% endif %}

        <!-- EMAIL -->
        {% if email %}
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">{%tr registration/email %}</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="" required>
            </div>
        </div>
        {% endif %}

        <!-- PID NUMBER -->
        {% if pid-number %}
        <div class="form-group row">
            <label for="pid-number" class="col-sm-3 col-form-label">{{pid-name}}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="pid-number" name="pid-number"
                       placeholder="{{pid-format}}" oninput="validate_pid();" required>
            </div>
        </div>
        {% if pid-validator %}
        <script type="application/javascript">
           // @formatter:off
              var pid_validator = {{pid-validator|safe}};
              // @formatter:on
        </script>
        {% endif %}
        {% endif %}

        <!-- SMS NUMBER -->
        {% if sms-number %}
        <div class="form-group row">
            <label for="sms-number" class="col-sm-3 col-form-label">{%tr registration/sms-number %}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="sms-number" name="sms-number" onchange="sms_change();"
                       required>
            </div>
        </div>
        <script src="/js/intl-tel-input/js/intlTelInput.min.js"></script>
        <script type="text/javascript">
           var sms_countries = eval('{{sms-countries|safe}}');

           $("#sms-number").intlTelInput({
              onlyCountries: sms_countries,
              initialCountry: sms_countries[0],
              utilsScript: "/js/intl-tel-input/js/utils.js"
           });

           function sms_change() {
              var sms_number = $('#sms-number');
              sms_number.intlTelInput('setNumber', sms_number.intlTelInput('getNumber'));
           }
        </script>
        {% endif %}

        <!-- PASSWORD -->
        {% if password %}
        <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label">{%tr password %}</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password"
                       pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20})" name="password"
                       oninvalid="password_invalid();"
                       placeholder="{%tr registration/password-req-info %}" oninput="validate_password();" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password-repeat" class="col-sm-3 col-form-label">{%tr registration/repeat-password %}</label>
            <div class="col-sm-9">
                <input type="password" oninput="validate_password();" class="form-control" id="password-repeat"
                       placeholder="{%tr registration/repeat-password %}"
                       required>
            </div>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">{%tr submit %}</button>
    </form>
</div>

<script type="text/javascript">
   var text_no_match = "{%tr registration/repeat-not-match %}";
   var text_password_invalid = "{%tr registration/password-req-error %}";

   function password_invalid() {
      event.target.setCustomValidity(text_password_invalid);
   }

   function validate_password() {
      var password = $('#password');
      var password_repeat = $('#password-repeat');
      var form = $('#registration-form');
      if (password.val() !== password_repeat.val()) {
         password_repeat.get(0).setCustomValidity(text_no_match);
      }
      else {
         password_repeat.get(0).setCustomValidity('');
      }
   }

   function validate_pid() {
      if (pid_validator !== undefined) {
         var error = pid_validator($(event.target).val());
         if (typeof error === 'string' && error.length > 0) {
            event.target.setCustomValidity(error);
         }
         else {
            event.target.setCustomValidity('');
         }
      }
   }


</script>
{% endblock %}