{% extends "simple.html" %}
{% block content %}
<h1>{%tr registration/validate-heading %}</h1>
{% if email %}
{% if sms-number %}
<p>{%tr registration/validate-info-m-e %}</p>
{% else %}
<p>{%tr registration/validate-info-e %}</p>
{% endif %}
{% else %}
<p>{%tr registration/validate-info-m %}</p>
{% endif %}

<div class="col-10">
    <!-- EMAIL -->
    {% if email %}
    <form method="post" class="no-validate" action="/registration/{{project-id}}/validate-email"
          data-on-success="successful_confirmation">
        <div class="alert alert-danger hidden" data-show-on="error" role="alert">
            {%tr login/code-error %}
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">{%tr registration/code-email %} {{email}}
                {{code-email}}</label>
            <div class="col-sm-3 middle">
                <input type="text" class="form-control" id="email" name="code-email" autocomplete="off" required>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" onclick="">{%tr submit %}</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9">
                <small class="form-text">{%tr registration/troubleshoot-e %}</small>
            </div>
        </div>
    </form>
    {% endif %}

    <!-- SMS NUMBER -->
    {% if sms-number %}
    <form method="post" class="no-validate" action="/registration/{{project-id}}/validate-sms"
          data-on-success="successful_confirmation">
        <div class="alert alert-danger hidden" data-show-on="error" role="alert">
            {%tr login/code-error %}
        </div>
        <div class="form-group row">
            <label for="sms-number" class="col-sm-3 col-form-label">{%tr registration/code-sms %} {{sms-number}}
                {{code-sms}}</label>
            <div class="col-sm-3 middle">
                <input type="text" class="form-control" id="sms-number" name="code-sms" autocomplete="off" required>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" onclick="">{%tr submit %}</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9">
                <small class="form-text">{%tr registration/troubleshoot-m %}</small>
            </div>
        </div>
    </form>
    {% endif %}

    <button onclick="document.location = '/registration/{{project-id}}/'; return false;"
            class="btn btn-warning">{%tr
        registration/change-contact-information %}
    </button>
    <button onclick="document.location = '/registration/{{project-id}}/cancel'; return false;"
            class="btn btn-warning">{%tr
        registration/cancel %}
    </button>
    </form>
</div>
<script type="application/javascript">
   function successful_confirmation() {
      var $form = $(this);
      $form.find(':text').remove();
      $form.find(':button').remove();
      $form.find('.middle').text('CONFIRMED!!!!');
   }
</script>
{% endblock %}