{% extends "simple.html" %}
{% block content %}
{% if markdown? %}
<div class="markdown">
    {{content|markdown}}
</div>
{% else %}
{{content|safe}}
{% endif %}
<p><img src="File.php?uid={{filename}}"></p>
<form class="form" action="" method="post">
    <div class="alert alert-danger hidden" data-show-on="error" role="alert">
        {%tr registration/captcha-error %}
    </div>
    <div class="form-group">
        <label for="captcha">{%tr registration/provide-digits %}</label>
        <input class="form-control" type="text" name="captcha" id="captcha" data-clear-on="error" autofocus>
    </div>
    <button class="btn btn-primary" type="submit">{%tr submit %}</button>
    <button onclick="document.location = '/registration/{{project-id}}/cancel'; return false;" class="btn btn-warning">
        {%tr
        registration/cancel %}
    </button>
</form>
{% endblock %}