{% extends "simple.html" %}

{% block content %}
<div id="registration-div">
    <h3>{%tr registration/bankid-title %}</h3>
    <form method="post" class="no-validate" id="registration-form">
        <input type="hidden" name="personnummer" id="personnummer">
        <div class="form-group row">
            <label for="personnummer-input" class="col-sm-3 col-form-label">{%tr registration/personnummer %}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="personnummer-input"
                       placeholder="19121212-1212" oninput="validate_personnummer();" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{%tr registration/bankid-start %}</button>
        <button onclick="document.location = '/registration/{{project-id}}/cancel'; return false;"
                class="btn btn-warning">{%tr
            registration/cancel %}
        </button>
    </form>
</div>

{% script-modified "/js/personnummer.js" %}
<script type="application/javascript">
   var text_personnummer_error = "{%tr registration/personnummer-error %}";
</script>
{% endblock %}