{% extends "simple.html" %}
{% block content %}

<h1>{%tr set-password/title %}</h1>
<div>
    <div class="col-10">
        <form method="post" class="no-validate"
              data-on-success="password_success" data-on-error="password_fail">
            <!-- PASSWORD -->
            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">{%tr password %}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password"
                           pattern="{{password-regex}}" name="password"
                           oninvalid="password_invalid();"
                           oninput="setCustomValidity(''); validate_password();"
                           placeholder="{%tr registration/password-req-info %}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="password-repeat" class="col-sm-3 col-form-label">{%tr registration/repeat-password
                    %}</label>
                <div class="col-sm-9">
                    <input type="password" oninput="validate_password();" class="form-control" id="password-repeat"
                           placeholder="{%tr registration/repeat-password %}"
                           required>
                </div>
            </div>
            <button class="btn btn-primary">{%tr submit %}</button>
        </form>
    </div>
</div>

<script type="text/javascript">
   var text_no_match = "{%tr registration/repeat-not-match %}";
   var text_password_invalid = "{%tr registration/password-req-error %}";
   var text_password_changed = "{%tr set-password/success %}";

   function password_success() {
      alert(text_password_changed);
      document.location = '/login';
   }

   function password_fail(_, _, text) {
      alert(text);
   }

</script>

{% script-modified "/js/password.js" %}
{% endblock %}