<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nav with title and context menu</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-start">
    <div class="container">
        <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav d-md-none" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
            <span class="navbar-brand">
                Context menu item 3 which should be beside the toggle button and shortened by ellipsis on mobile
            </span>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="#" class='nav-link'>Messages</a>
                <a href="#" class='nav-link'>About</a>
                <div class="d-md-none">

                    <!-- Mobile context menu -->
                    <div class="dropdown-divider"></div>
                    <div class='navbar-text' style="display:block; text-align:center;">Context menu</div>
                    <a href="#" class='nav-link'>Context menu item 1</a>
                    <a href="#" class='nav-link'>Context menu item 3</a>
                    <a href="#" class='nav-link active'>Active context menu item 3 which is allowed to wrap here in
                        menu</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class='nav-link'><span class="fa fa-power-off"></span> Logout</a>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block navbar-nav">
            <a href="#" class='nav-link'><span class="fa fa-power-off"></span></a>
        </div>
    </div>
    </nav>

<!-- Desktop context menu -->
<nav class="d-none d-md-block navbar navbar-expand-md navbar-light bg-light" style="margin-top: -10px;">
    <div class="container">
        <div class="navbar-nav">
            <a href="#" class='nav-link'>Context menu item 1</a>
            <a href="#" class='nav-link'>Context menu item 3</a>
            <a href="#" class='nav-link active'>Active context menu item 3 which should appear as is on desktop</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row no-gutters">
        <div class="col col-lg-10 offset-lg-1"
        ">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique, dui vitae pharetra
            sollicitudin, felis metus dignissim sapien, at sodales libero massa condimentum dui. Maecenas sem diam,
            porttitor eget lacus at, vulputate facilisis leo. Nulla ut nisi sem. Nunc sapien neque, maximus fermentum mi
            ut, dapibus fermentum nunc. Phasellus dignissim laoreet dictum. </p>
        <p>Sed egestas sem ut viverra dignissim. Sed blandit rhoncus turpis, ac feugiat tortor venenatis id. Ut ac
            fermentum enim. Integer vitae malesuada sem, nec ultrices mi. Fusce mattis ante vel lacinia convallis.
            Integer posuere nisi sit amet augue ultrices, quis elementum ante consequat. Sed et ornare lectus. Phasellus
            rutrum luctus ipsum non vestibulum. Etiam efficitur nulla at erat blandit, sit amet tristique ante gravida.
            Proin tortor purus, eleifend vel metus hendrerit, tincidunt tristique sapien. Donec lacinia aliquam lacus,
            in efficitur velit facilisis ac.</p>
    </div>
</div>
</div>
</body>
</html>