{% extends "base.html" %}
{% block content %}

<!-- navbar -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span id="page-title" class="navbar-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">Ångest och undvikande och undvikande och undvikande</span>
    <!--<a class="navbar-brand" href="{{servlet-context}}/">Ångest och undvikande</a>-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="/"
               class="nav-link{% ifequal page " home.html" %} active{%endifequal%}">
            Home
            </a>

            <a href="/about"
               class="nav-link{% ifequal page " about.html" %} active{%endifequal%}">
            about
            </a>
            {% if messaging %}
            <a href="/user/messages"
               class="nav-link{% ifequal page " messages.html" %} active{%endifequal%}">
            Messages
            </a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block user-content %}
    {% endblock %}
</div>

{% endblock %}
