{% extends "base.html" %}
{% block content %}

<!-- navbar -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span id="page-title" class="navbar-text hidden-md-up"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
        {% if page-title %}
        {{page-title}}
        {% else %}
        &nbsp;
        {% endif %}
    </span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if messaging %}
            <a href="/user/messages"
               class='nav-link{% ifequal path "/user/messages" %} active{%endifequal%}'>
            {%tr messages/messages %}
            </a>
            {% endif %}
            {% if modules %}
            <a href="/user/modules"
               class='nav-link{% ifequal path "/user/modules" %} active{%endifequal%}'>
            {%tr modules/modules %}
            </a>
            {% endif %}

            {% if context-menu %}
            <!-- Mobile context menu -->
            <div class="hidden-md-up">
                <div class="dropdown-divider"></div>
                {% if context-menu.title %}
                <div class='navbar-text' style="display:block; text-align:center;">{{context-menu.title}}</div>
                {% endif %}
                {% for item in context-menu.items %}
                <a href="{{item.link}}"
                   class='nav-link{% ifequal path item.link %} active{%endifequal%}'>{{item.name}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</nav>
{% if context-menu %}
<!-- Desktop context menu -->
<div class="hidden-sm-down">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-top: -10px;">
        <div class="navbar-nav">
            <!--
            {% if context-menu.title %}
            <span class='navbar-text'>{{context-menu.title}}</span>
            {% endif %}
            -->
            {% for item in context-menu.items %}
            <a href="{{item.link}}" class='nav-link{% ifequal path item.link %} active{%endifequal%}'>{{item.name}}</a>
            {% endfor %}
        </div>
    </nav>
</div>
{% endif %}

<div class="container">
    {% block user-content %}
    {% endblock %}
</div>

{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
	var bass_data = {};
	// @formatter:off
    var content_data = {{content-data|json|safe}} || {};
    // @formatter:on

	bass_data["unsavedchangesalert"] = "Det finns osparade \u00e4ndringar i p\u00e5 sidan.";
	bass_data["tab_name"] = "Flik";
	bass_data["save_name"] = "Spara";
	bass_data["page_info"] = "Sida %s av %s";
</script>
<script src="/js/contentdata.js"></script>
{% endblock %}
