{% extends "base.html" %}
{% block content %}

<!-- navbar -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button id="navbar-toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span id="page-title" class="navbar-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">Where are we?</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if messaging %}
            <a href="/user/messages"
               class='nav-link{% ifequal path "/user/messages" %} active{%endifequal%}'>
            {%tr messages/messages %}
            </a>
            {% endif %}
            {% if modules %}
            <a href="/user/modules"
               class='nav-link{% ifequal path "/user/modules" %} active{%endifequal%}'>
            {%tr modules/modules %}
            </a>
            {% endif %}

            <!-- Context menu -->
            {% if context-menu %}
            <div class="dropdown-divider"></div>
            {% for item in context-menu %}
            <a href="{{item.link}}" class='nav-link{% ifequal path item.link %} active{%endifequal%}'>{{item.name}}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block user-content %}
    {% endblock %}
</div>

{% endblock %}
