{:submit          "Enviar"
 :confirm         "Confirmar"
 :cancel          "Cancelar"
 :next            "Próximo"
 :previous        "Anterior"
 :me              "Mim"
 :username        "Nome do usuário"
 :password        "Senha"
 :continue        "Continuar"
 :close           "Fechar"
 :logout          "Sair"
 :logout-confirm  "Você tem certeza que deseja sair?"
 :save            "Salvar"
 :save-changes    "Salvar alterações"
 :unsaved-changes "Você tem alterações não salvas!"
 :tab             "Aba"
 :i-consent       "Eu concordo"
 :contact-support "você pode contatar o suporte"
 :characters-left "caracteres restantes"
 :too-long!       "muito longo!"
 :return-to-login "Voltar ao login"
 :quick-login     {:expired-title           "Login expirado"
                   :expired-text            "Seu login expirou."
                   :invalid-title           "Login inválido"
                   :invalid-text            "O seu login não está válido."
                   :contact-project-manager "Se precisar de um novo login, contate o gerente de pesquisa"
                   :username-password       "Se você tem um nome de usuário e senha:"}
 :offline-warning "Você parece estar desconectado. Por favor, tenha certeza que está conectado antes de enviar."
 :download        "Baixar"
 :session-status  {:renew-click-title   "Confirme que você está ativo"
                   :renew-click-text    "Você ficou inativo por um longo tempo e precisa confirmar que ainda está usando o sistema. Por favor, clique no botão abaixo para evitar que você seja desconectado."
                   :renew-password-text "Você ficou inativo por um longo tempo e precisa digitar sua senha para confirmar que ainda está usando o sistema. Por favor, digite sua senha abaixo para evitar que você seja desconectado."
                   :no-session          "Você foi logado, talvez porque esteve inativo por muito tempo. Todos os dados não salvos foram perdidos."
                   :another-session     "Você tem outro processo em andamento em outra janela do navegador. Por favor, feche esta janela do navegador e vá para a outra janela."
                   :time-to-logout      "A sessão expira em: %d min %d seg"}
 :registration    {:begin-registration           "Comece o registro"
                   :logged-in-title              "Já está logado"
                   :logged-in-text               "Você já está logado no sistema. Se você quiser continuar com o registro, você será desconectado."
                   :logged-in-proceed            "Continue com o registro"
                   :logged-in-cancel             "Voltar"
                   :personnummer                 "Número pessoal"
                   :personnummer-error           "Entre com seus dados no formato 19121212-1212 (YYYYMMDD-XXXX)"
                   :bankid-title                 " Entre com seu número pessoal para começar a verifcação do bankid to start the BankID verification."
                   :bankid-start                 "Start BankID verification"
                   :provide-digits               "Insira os dígitos da imagem e continue o registro."
                   :captcha-error                "Erro ao digitar."
                   :privacy-notice-consent       "Para continuar com o registro, você deve concordar com este Aviso de Privacidade"
                   :study-consent-checkboxes     "Você precisa marcar todas as caixas de seleção para continuar."
                   :form-title                   "Digite suas informações aqui"
                   :first-name                   "Primeiro nome"
                   :last-name                    "Sobrenome"
                   :email                        "E-mail"
                   :sms-number                   "celular"
                   :repeat-password              "Repita senha"
                   :must-password                "Você deve entrar com uma senha"
                   :must-repeat                  "Você deve repetir a senha"
                   :repeat-not-match             "A senha repetida não confere com a anterior."
                   :password-req-error           "Senha deve ter entre 8-20 caracteres e conter letras maiúsculas, minúsculas e número(s)"
                   :password-req-info            "8-20 caracteres, letras maiúsculas, minúsculas e números"
                   :must-enter                   "Você deve entrar com o seu"
                   :change-information           "Mudar informação"
                   :sms-country-error            "Código do país inválido"
                   :please-review                "Por favor, revise e confirme suas informações."
                   :validation-code              "Seu código de validação"
                   :validate-heading             "Valide informações de contato"
                   :validate-info-m-e            "Nós mandamos o código de validação para seu telefone celular e e-mail. Por favor, digite abaixo para confirmar sua informações de contato."
                   :validate-info-e              "Nós mandamos um código de validação para seu e-mail. Por favor, digite abaixo para confirmar suas informações de contato."
                   :validate-info-m              "Nós mandamos um código de validação para seu celular. Por favor, digite abaixo para confirmar suas informações de contato."
                   :troubleshoot-m               "Se o código não chegar no seu celular, tente reiniciar."
                   :troubleshoot-e               "Isso pode levar alguns minutos para o e-mail de confirmação chegar. Caso não chegue, verifique a caixa de spam."
                   :code-sms                     "Código enviado para seu celular"
                   :code-email                   "Código enviado para seu e-mail"
                   :code-confirmed               "Código confirmado!"
                   :change-contact-information   "Alterar informações de contato"
                   :cancel                       "Cancelar registro"
                   :duplicate-heading            "Usuário já existente!"
                   :duplicate-info               "Um usuário com suas informações já foi registrado."
                   :contact-project-manager      "Se você achar que tem um erro, contate o gerente de projeto"
                   :register-again               "Voltar para o registro"
                   :credentials-heading          "Suas credenciais de login"
                   :credentials-info             "Abaixo estão suas credenciais de login. Por favor, anote as informações e mantenha-as em um local seguro."
                   :entered-password             "A senha que você escolheu"
                   :assessments-following        "Você agora preencherá os questionários para completar o registro."
                   :credentials-resume-info      "Se o seu registro for interrompido, acesse o endereço de login e use suas credenciais de login para continuar o registro."
                   :no-credentials-resume-info   "Se o seu registro for interrompido, você precisa se registrar novamente com as mesmas informações de contato para continuar o registro.."
                   :login-address                "O endereço para a página de login é"
                   :credentials-noted            "Clique aqui quando tiver anotado suas credenciais."
                   :resuming-finished-heading    "Registro já completo"
                   :resuming-finished-info       "Você concluiu este registro antes. Se tiver alguma dúvida, entre em contato com o gerente de projetos em"
                   :resuming-assessments-heading "Continue o registro"
                   :resuming-assessments-info    "Você iniciou este registro antes, mas não o concluiu. Você continuará do seu lugar onde você estava."}
 :dashboard       {:start           "Início"
                   :welcome         "Bem-vindo!"
                   :new-modules     "Você tem acesso a novos módulos"
                   :go-to-modules   "Vá para os módulos"
                   :go-to-messages  "Vá para mensagens"
                   :treatment-dates "Seu tratamento iniciou %1 e termina %2."
                   :days-remaining  "Você tem %1 dias faltando para o seu tratamento."
                   :last-day        "Esse é o último dia do seu tratamento."}
 :instrument      {:range-error     "Você deve fornecer um valor entre %s e %s."
                   :range-error-max "Você deve fornecer um valor de %s ou mais."
                   :range-error-min "Você deve fornecer um valor de %s ou menos."
                   :pattern-error   "Sua resposta não corresponde ao padrão de especificação."
                   :must-answer     "Você deve fornecer uma resposta."
                   :must-specify-1  "Você deve fornecer uma especificação para sua resposta."
                   :must-specify-m  "Você deve fornecer especificações para sua resposta."
                   :order-count     "Questionário %1 de %2"
                   :page-count      "Páginas %s de %s"}
 :date-time       {:datetime-ns "dd-MM-yyyy HH:mm"
                   :date        "dd-MM-yyyy"
                   :time-ns     "HH:mm"
                   :today       "Hoje"
                   :tomorrow    "Amanhã"
                   :in-days     "em %1 dias"
                   :yesterday   "ontem"
                   :days-ago    "%1 dias atrás"}
 :messages        {:sent-on-from      "Enviado por %1 %2"
                   :from-therapist    "De %1 em %2"
                   :must-message      "Por favor, escreva uma mensagem de texto"
                   :subject           "Assunto da mensagem"
                   :text              "Mensagem de texto"
                   :save-draft        "Salvar rascunho"
                   :messages          "Mensagens"
                   :new-message-title "Nova mensagem"
                   :new-message       "Você tem uma mensagem não lida"}
 :modules         {:modules                 "Módulos"
                   :activated               "Ativado"
                   :module-text             "Texto do módulo"
                   :read-module-text        "Leia o texto do módulo"
                   :download-module-text    "Baixar o módulo de texto"
                   :complete-homework       "Exercício completo"
                   :download-homework       "Baixar lição de casa"
                   :fill-in                 "Completar"
                   :no-module               "Esse módulo não existe"
                   :no-homework             "Esse módulo não tem lição de casa"
                   :no-worksheet            "Esse módulo não tem planilha"
                   :worksheets              "Planilha"
                   :homework                "Lição de casa"
                   :page-top                "Topo da página"
                   :show-example            "Mostrar exemplo"
                   :close-example           "Fechar exemplo"
                   :submit-homework         "Enviar lição de casa"
                   :retract-homework        "Voltar lição de casa"
                   :save-homework           "Salvar sem enviar"
                   :not-available           "Indisponível"
                   :unread                  "Não lida"
                   :submitted-ok-title      "Completo!"
                   :submitted-ok-text       "Você enviou sua lição de casa e ela já foi revisada pelo seu terapeuta."
                   :submitted-waiting-title "Enviado!"
                   :submitted-waiting-text  "Você enviou sua lição de casa  %1 e ela está esperando para ser revisada pelo seu terapeuta."}
 :error-report    {:problems?              "Problemas?"
                   :page-title             "Problemas com o site?"
                   :experiencing-problems? "Você está tendo problemas com o site?"
                   :report-info            "Se algo parece estar errado com o site, você pode relatar seus problemas aqui. Por favor, escreva uma descrição detalhada sobre os problemas que você está enfrentando."
                   :description-here       "Escreva a descrição do problema aqui"
                   :thank-you              "Obrigado pelo seu relatório. Ele foi recebido e entraremos em contato o mais breve possível."}
 :login           {:login                    "Login"
                   :must-username            "Por favor, forneça seu nome de usuário"
                   :must-password            "Por favor, forneça sua senha"
                   :username-password-error  "Nome do usuário ou senha errados"
                   :please-double-auth       "Por favor, forneça seu código de autenticação dupla."
                   :code                     "Código"
                   :code-error               "Código inserido errado"
                   :no-send-method           "Você não tem um e-mail ou número de registro de SMS necessários para fazer o login. Por favor, entrar em contato com o suporte em %1."
                   :re-auth                  "Autenticar novamente"
                   :password-error           "Senha errada"
                   :please-re-auth           "Por favor, forneça sua senha para continuar a usar o sistema."
                   :please-re-auth-form      "Sua senha é necessária antes de você enviar seus dados."
                   :no-activities            "Sem atividades"
                   :no-activities-info       "Você não tem atividades para concluir. Você foi desconectado e pode fechar esta guia do navegador."
                   :activities-finished      "Atividades terminadas"
                   :activities-finished-info "Você não tem mais atividades para concluir. Você foi desconectado e pode fechar esta guia do navegador."
                   :lost-password            "Eu perdi minha senha"
                   :password-needed          "Senha necessária"}
 :lost-password   {:title                   "Senha perdida"
                   :request-info            "Digite seu nome de usuário ou endereço de e-mail. Nós lhe enviaremos um email com um link. Siga esse link para solicitar uma nova senha."
                   :request-email-header    "Nova senha solicitada"
                   :request-email-text      "Clique no link abaixo para solicitar uma nova senha. \n\n %1\n\n O link é válido por uma hora e só pode ser usado uma vez. Se você não solicitou uma nova senha, entre em contato conosco pelo e-mail %2."
                   :request-sent-title      "Email enviado"
                   :request-sent-info-1     "If your username or email address exists, we have sent an email to your registered email address. Click the link in the email to request a new password."
                   :request-sent-info-2     "Pode demorar alguns minutos até o email chegar. Se você não receber um e-mail, você pode ter digitado o endereço de e-mail ou nome de usuário errado. Entre em contato com o suporte no endereço abaixo se você não receber o email."
                   :request-received-title  "Nova solicitação de senha recebida"
                   :request-received-info   "Entraremos em contato para fornecer uma nova senha."
                   :request-not-found-title "link inválido"
                   :request-not-found-info  "O link que você clicou não é válido. Os links duram apenas uma hora e só podem ser usados uma vez."
                   :report-info             "Digite seu nome de usuário ou endereço de e-mail."
                   :report-received-info-1  "Entraremos em contato para fornecer uma nova senha."
                   :report-received-info-2  "Se não entrarmos em contato com você nos próximos dias, você pode ter digitado o nome de usuário ou senha errada. Você pode então contatar o suporte em"
                   :again                   "Solicite uma nova senha novamente."
                   :forgot-username         "Se você não souber seu nome de usuário ou endereço de e-mail registrado, entre em contato com o suporte em "
                   :close-window            "Você pode fechar esta janela do navegador"}
 :error           {:something-happened    "Algo ruim aconteceu!"
                   :page-not-found        "Página não encontrada"
                   :page-not-found-longer "A página solicitada não foi encontrada."
                   :go-back               "Tente voltar no seu navegador"
                   :or-login              "ou vá para a página de login"
                   :login                 "vá para página de login"
                   :timeout-hard          "Você foi desconectado. Você será redirecionado para a página de login."
                   :try-reload            "Algo com seus dados está errado e seus dados não podem ser enviados."
                   :not-authorized        "Não autorizado."
                   :not-authorized-longer "Você não está autorizado a acessar esta página."
                   :server-busy           "O seu servidor está ocupado. Tente depois de alguns segundos."}
 :number          {:1  "um"
                   :2  "dois"
                   :3  "três"
                   :4  "quatro"
                   :5  "cinco"
                   :6  "seis"
                   :7  "sete"
                   :8  "oito"
                   :9  "nove"
                   :10 "dez"}
 :privacy-notice  {:consent-title   "Para continuar a usar o site, você deve concordar com este Aviso de Privacidade"
                   :no-consent      "Eu não concordo"
                   :no-consent-info "Se você não concordar com o Aviso de Privacidade, você será desconectado do site. Você pode fazer login novamente se mudar de idéia e quiser consentir com o Aviso de privacidade. Se você tiver alguma dúvida, entre em contato com o gerente de projetos em"
                   :notice-title    "Aviso de privacidade"}
 :bankid          {:title             "BankID verification"
                   :ongoing-title     "Ongoing BankID verification"
                   :ongoing-text      "You have an ongoing BankID verification process. Would you like to return to BankID?"
                   :ongoing-return    "Yes, I want to continue with BankID"
                   :ongoing-cancel    "No, I want to cancel BankID"
                   :no-session-title  "No ongoing BankID verification"
                   :no-session-text   "You do not have an ongoing BankID verification process. Press back in your browser to return to the previous page."
                   :contacting        "Contacting"
                   :contacting-bankid "Contacting BankID"
                   :pending           "Waiting"
                   :failed            "Failed"
                   :error             "Erro"
                   :error-text        "An unknown error occured."
                   :cancel-go-back    "Click cancel to go back."
                   :no-session        "No BankID verification process is ongoing."
                   :rfa1              "Start your BankID app."
                   :rfa2              "The BankID app is not installed. Please contact your internet bank."
                   :rfa3              "Action cancelled. Please try again."
                   :rfa3-first        "Another request for BankID has been made for the same personal number. Action cancelled. Please try again."
                   :rfa3-second       "A BankID login or sign process is already ongoing for this personal number. Action cancelled. Please try again."
                   :rfa5              "Internal error. Please try again."
                   :rfa6              "Action cancelled."
                   :rfa8              "The BankID app is not responding. Please check that the program is started and that you have internet access. If you don't have a valid BankID you can get one from your bank. Try again."
                   :rfa9              "Enter your security code in the BankID app and select Identify or Sign."
                   :rfa13             "Trying to start your BankID app."
                   :rfa14             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank. If you have a BankID on another device you can start the BankID app on that device."
                   :rfa15             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank."
                   :rfa16             "The BankID you are trying to use is revoked or too old. Please use another BankID or order a new one from your internet bank."
                   :rfa17             "The BankID app couldn't be found on your computer or mobile device. Please install it and order a BankID from your internet bank. Install the app from install.bankid.com"
                   :rfa18             "Start the BankID app."
                   :rfa19             "Would you like to login or sign with a BankID on this computer or with a Mobile BankID?"
                   :rfa20             "Would you like to login or sign with a BankID on this device or with a BankID on another device?"
                   :rfa21             "Login or signing in progress."
                   :rfa22             "Unknown error. Please try again."}}