{:submit          "Enviar"
 :confirm         "Confirmar"
 :next            "Próximo"
 :previous        "Anterior"
 :me              "Mim"
 :username        "Nome do usuário"
 :password        "Senha"
 :continue        "Continuar"
 :close           "Close"
 :logout          "Sair"
 :logout-confirm  "Você tem certeza que deseja sair?"
 :save            "Salvar"
 :save-changes    "Salvar alterações"
 :unsaved-changes "Você tem alterações não salvas!"
 :tab             "Aba"
 :i-consent       "I consent"
 :contact-support "You can contact support at "
 :characters-left "Characters left"
 :too-long!       "too long!"
 :quick-login     {:expired-title           "Login expirado"
                   :expired-text            "Seu login expirou."
                   :invalid-title           "Login inválido"
                   :invalid-text            "O seu login não está válido."
                   :contact-project-manager "Se precisar de um novo login, contate o gerente de pesquisa"
                   :username-password       "Se você tem um nome de usuário e senha:"}
 :offline-warning "Você parece estar desconectado. Por favor, tenha certeza que está conectado antes de enviar."
 :download        "Baixar"
 :registration    {:begin-registration         "Comece o registro"
                   :personnummer               "Número pessoal"
                   :personnummer-error         "Entre com seus dados no formato 19121212-1212 (YYYYMMDD-XXXX)"
                   :bankid-title               "Enter your personal number to start the BankID verification."
                   :bankid-start               "Start BankID verification"
                   :provide-digits             "Insira os dígitos da imagem e continue o registro."
                   :captcha-error              "Erro ao digitar."
                   :privacy-notice-consent     "To continue with the registration you must consent to this Privacy Notice"
                   :study-consent-checkboxes   "You need to check all checkboxes to continue."
                   :form-title                 "Digite suas informações aqui"
                   :first-name                 "Primeiro nome"
                   :last-name                  "Sobrenome"
                   :email                      "E-mail"
                   :sms-number                 "celular"
                   :repeat-password            "Repita senha"
                   :must-password              "Você deve entrar com uma senha"
                   :must-repeat                "Você deve repetir a senha"
                   :repeat-not-match           "A senha repetida não confere com a anterior."
                   :password-req-error         "Senha deve ter entre 8-20 caracteres e conter letras maiúsculas, minúsculas e  and uppercase letter(s) e números(s)"
                   :password-req-info          "8-20 caracteres, letras maiúsculas, minúsculas e números"
                   :must-enter                 "Você deve entrar com o seu"
                   :change-information         "Mudar informação"
                   :sms-country-error          "Código do país inválido"
                   :please-review              "Por favor, revise e confirme suas informações."
                   :validation-code            "Seu código de validação"
                   :validate-heading           "Valide informações de contato"
                   :validate-info-m-e          "Nós mandamos o código de validação para seu telefone celular e e-mail. Por favor, digite abaixo para confirmar sua informações de contato."
                   :validate-info-e            "Nós mandamos um código de validação para seu e-mail. Por favor, digite abaixo para confirmar suas informações de contato."
                   :validate-info-m            "Nós mandamos um código de validação para seu celular. Por favor, digite abaixo para confirmar suas informações de contato."
                   :troubleshoot-m             "Se o código não chegar no seu celular, tente reiniciar."
                   :troubleshoot-e             "Isso pode levar alguns minutos para o e-mail de confirmação chegar. Caso não chegue, verifique a caixa de spam."
                   :code-sms                   "Código enviado para seu celular"
                   :code-email                 "Código enviado para seu e-mail"
                   :code-confirmed             "Código confirmado!"
                   :change-contact-information "Alterar informações de contato"
                   :cancel                     "Cancelar registro"
                   :duplicate-heading          "Usuário já existente!"
                   :duplicate-info             "Um usuário com suas informações já foi registrado."
                   :contact-project-manager    "Se você achar que tem um erro, contate o gerente de projeto"
                   :register-again             "Voltar para o registro"
                   :credentials-heading        "Suas credenciais de login"
                   :credentials-info           "Abaixo estão suas credenciais de login. Por favor, anote as informações e mantenha-as em um local seguro."
                   :entered-password           "A senha que você escolheu"
                   :login-address              "O endereço para a página de login é"
                   :credentials-noted          "Clique aqui quando tiver anotado suas credenciais."}
 :dashboard       {:start           "Início"
                   :welcome         "Bem-vindo!"
                   :new-modules     "Você tem acesso a novos módulos"
                   :go-to-modules   "Vá para os módulos"
                   :go-to-messages  "Vá para mensagens"
                   :treatment-dates "Seu tratamento iniciou %1 e termina %2."
                   :days-remaining  "Você tem %1 dias faltando para o seu tratamento."
                   :last-day        "Esse é o último dia do seu tratamento."}
 :instrument      {:range-error     "Você deve fornecer um valor entre %s e %s."
                   :range-error-max "Você deve fornecer um valor de %s ou mais."
                   :range-error-min "Você deve fornecer um valor de %s ou menos."
                   :pattern-error   "Sua resposta não corresponde ao padrão de especificação."
                   :must-answer     "Você deve fornecer uma resposta."
                   :must-specify-1  "Você deve fornecer uma especificação para sua resposta."
                   :must-specify-m  "Você deve fornecer especificações para sua resposta."
                   :order-count     "Questionário %1 de %2"
                   :page-count      "Páginas %s de %s"}
 :date-time       {:datetime-ns "yyyy-MM-dd HH:mm"
                   :date        "yyyy-MM-dd"
                   :time-ns     "HH:mm"
                   :today       "Hoje"
                   :tomorrow    "Amanhã"
                   :in-days     "em %1 dias"
                   :yesterday   "ontem"
                   :days-ago    "%1 dias atrás"}
 :messages        {:sent-on-from   "Enviado em %1 %2"
                   :from-therapist "De %1 em %2"
                   :must-message   "Por favor, escreva uma mensagem de texto"
                   :subject        "Assunto da mensagem"
                   :text           "Mensagem de texto"
                   :save-draft     "Salvar rascunho"
                   :messages       "Mensagens"
                   :new-message    "Você tem uma mensagem não lida"}
 :modules         {:modules                 "Módulos"
                   :activated               "Ativado"
                   :module-text             "Texto do módulo"
                   :read-module-text        "Leia o texto do módulo"
                   :download-module-text    "Baixar o módulo de texto"
                   :complete-homework       "Exercício completo"
                   :download-homework       "Baixar lição de casa"
                   :fill-in                 "Completar"
                   :no-module               "Esse módulo não existe"
                   :no-homework             "Esse módulo não tem lição de casa"
                   :no-worksheet            "Esse módulo não tem planilha"
                   :worksheets              "Planilha"
                   :homework                "Lição de casa"
                   :page-top                "Topo da página"
                   :show-example            "Mostrar exemplo"
                   :close-example           "Fechar exemplo"
                   :submit-homework         "Enviar lição de casa"
                   :retract-homework        "Voltar lição de casa"
                   :save-homework           "Salvar sem enviar"
                   :not-available           "Indisponível"
                   :unread                  "Não lida"
                   :submitted-ok-title      "Completo!"
                   :submitted-ok-text       "Você enviou sua lição de casa e ela já foi revisada pelo seu terapeuta."
                   :submitted-waiting-title "Enviado!"
                   :submitted-waiting-text  "Você enviou sua lição de casa  %1 e ela está esperando para ser revisada pelo seu terapeuta."}
 :error-report    {:problems?              "Problems?"
                   :page-title             "Problems with website"
                   :experiencing-problems? "Are you experiencing problems with the website?"
                   :report-info            "If something seems to be wrong with the website, you can report your problems here. Please write a detailed description about the issues that you are experiencing."
                   :description-here       "Write your description of the problem here"
                   :thank-you              "Thank you for your report. It has been received and we will contact you as soon as possible."}
 :login           {:login                   "Login"
                   :must-username           "Por favor, forneça seu nome de usuário"
                   :must-password           "Por favor, forneça sua senha"
                   :username-password-error "Nome do usuário ou senha errados"
                   :please-double-auth      "Por favor, forneça seu código de autenticação dupla."
                   :code                    "Código"
                   :code-error              "Código inserido errado"
                   :no-send-method          "Você não tem um e-mail ou número de registro de SMS necessários para fazer o login. Por favor, entrar em contato com o suporte em %1."
                   :re-auth                 "Autenticar novamente"
                   :password-error          "Senha errada"
                   :please-re-auth          "Por favor, forneça sua senha para continuar a usar o sistema."
                   :please-re-auth-form     "Sua senha é necessária antes de você enviar seus dados."
                   :no-activities           "Nenhuma atividade"
                   :no-activities-info      "Não há tarefas ativas para este usuário. Você foi desconectado."
                   :lost-password           "I lost my password"
                   :password-needed         "Password needed"}
 :lost-password   {:title                   "Lost password"
                   :request-info            "Enter your username or email address. We will send you an email with a link. Follow that link to request a new password."
                   :request-email-header    "Request new password"
                   :request-email-text      "Click the link below to request a new password. \n\n %1\n\n The link is valid for one hour and can only be used once. If you have not requested a new password, please contact us at %2."
                   :request-sent-title      "Email sent"
                   :request-sent-info-1     "If your username or email address exists, we have sent an email to your registered email address. Click the link in the email to request a new password."
                   :request-sent-info-2     "It may take a few minutes for the email to arrive. If you do not receive an email, you may have entered the wrong email address or username. Please contact support at the address below if you do not receive the email."
                   :request-received-title  "New password request received"
                   :request-received-info   "We will contact you to provide you with a new password."
                   :request-not-found-title "Invalid link"
                   :request-not-found-info  "The link that you clicked is not valid. Links only last for one hour and can only be used once."
                   :report-info             "Enter your username or email address."
                   :report-received-info-1  "We will contact you to provide you with a new password."
                   :report-received-info-2  "If we do not contact you within the next few days, you may have entered the wrong username or password. You can then contact support at"
                   :again                   "Request a new password again."
                   :forgot-username         "If you don't know your username or registered email address, contact support at "
                   :close-window            "You can close this browser window"}
 :error           {:something-happened    "Algo ruim aconteceu!"
                   :page-not-found        "Página não encontrada"
                   :page-not-found-longer "A página solicitada não foi encontrada."
                   :go-back               "Tente voltar no seu navegador"
                   :or-login              "ou vá para a página de login"
                   :login                 "vá para página de login"
                   :timeout-hard          "Você foi desconectado. Você será redirecionado para a página de login."
                   :try-reload            "Algo com seus dados está errado e seus dados não podem ser enviados."
                   :not-authorized        "Não autorizado."
                   :not-authorized-longer "Você não está autorizado a acessar esta página."
                   :server-busy           "O seu servidor está ocupado. Tente depois de alguns segundos."}
 :number          {:1  "um"
                   :2  "dois"
                   :3  "três"
                   :4  "quatro"
                   :5  "cinco"
                   :6  "seis"
                   :7  "sete"
                   :8  "oito"
                   :9  "nove"
                   :10 "dez"}
 :privacy-notice  {:consent-title   "To continue to use the website you must consent to this Privacy Notice"
                   :no-consent      "I do not consent"
                   :no-consent-info "If you do not consent to the Privacy Notice, you will be logged out of the web site. You can log in again if you change your mind and want to consent with the Privacy Notice. If you have any questions, contact project manager at"
                   :notice-title    "Privacy Notice"}
 :bankid          {:title             "BankID verification"
                   :ongoing-title     "Ongoing BankID verification"
                   :ongoing-text      "You have an ongoing BankID verification process. Would you like to return to BankID?"
                   :ongoing-return    "Yes, I want to continue with BankID"
                   :ongoing-cancel    "No, I want to cancel BankID"
                   :no-session-title  "No ongoing BankID verification"
                   :no-session-text   "You do not have an ongoing BankID verification process. Press back in your browser to return to the previous page."
                   :contacting        "Contacting"
                   :contacting-bankid "Contacting BankID"
                   :pending           "Waiting"
                   :failed            "Failed"
                   :error             "Error"
                   :error-text        "An unknown error occured."
                   :cancel-go-back    "Click cancel to go back."
                   :no-session        "No BankID verification process is ongoing."
                   :rfa1              "Start your BankID app."
                   :rfa2              "The BankID app is not installed. Please contact your internet bank."
                   :rfa3              "Action cancelled. Please try again."
                   :rfa3-first        "Another request for BankID has been made for the same personal number. Action cancelled. Please try again."
                   :rfa3-second       "A BankID login or sign process is already ongoing for this personal number. Action cancelled. Please try again."
                   :rfa5              "Internal error. Please try again."
                   :rfa6              "Action cancelled."
                   :rfa8              "The BankID app is not responding. Please check that the program is started and that you have internet access. If you don't have a valid BankID you can get one from your bank. Try again."
                   :rfa9              "Enter your security code in the BankID app and select Identify or Sign."
                   :rfa13             "Trying to start your BankID app."
                   :rfa14             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank. If you have a BankID on another device you can start the BankID app on that device."
                   :rfa15             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank."
                   :rfa16             "The BankID you are trying to use is revoked or too old. Please use another BankID or order a new one from your internet bank."
                   :rfa17             "The BankID app couldn't be found on your computer or mobile device. Please install it and order a BankID from your internet bank. Install the app from install.bankid.com"
                   :rfa18             "Start the BankID app."
                   :rfa19             "Would you like to login or sign with a BankID on this computer or with a Mobile BankID?"
                   :rfa20             "Would you like to login or sign with a BankID on this device or with a BankID on another device?"
                   :rfa21             "Login or signing in progress."
                   :rfa22             "Unknown error. Please try again."}}