{:submit          "Okay/Senden"
 :confirm         "Bestätigen"
 :cancel          "Abbrechen"
 :next            "Weiter"
 :previous        "Zurück"
 :me              "mir"
 :username        "Benutzername"
 :password        "Passwort"
 :continue        "Weiter"
 :close           "Schließen"
 :logout          "Abmelden"
 :logout-confirm  "Sind Sie sicher, dass Sie sich abmelden möchten?"
 :save            "Speichern"
 :save-changes    "Änderungen speichern"
 :unsaved-changes "Es gibt Änderungen, die noch nicht gespeichert sind!" 
 :tab             "Tab"
 :i-consent       "Ich stimme zu"
 :contact-support "Sie können sich hier melden, wenn Sie Unterstützung benötigen"
 :characters-left "Zeichen übrig"
 :too-long!       "Zu lang!"
 :return-to-login "Zurück zur Anmeldung"
 :quick-login     {:expired-title           "Ihre Anmeldung ist abgelaufen"
                   :expired-text            "Ihr Anmelde-Code ist abgelaufen."
                   :invalid-title           "Ungültiger Anmelde-Code"
                   :invalid-text            "Ihr Anmelde-Code ist ungültig."
                   :contact-project-manager "Wenn Sie einen neuen Code benötigen, kontaktieren Sie bitte die Studienmitarbeiter"
                   :username-password       "Wenn Sie einen Benutzernamen und ein Passwort haben:"}
 :offline-warning "Sie sind wahrscheinlich nicht mit dem Internet verbunden im Moment. Bitte stellen Sie eine Internetverbindung her" 
 :download        "Herunterladen"
 :session-status  {:renew-click-title   "Bitte bestätigen Sie, dass Sie noch aktiv sind"
                   :renew-click-text    "Sie waren eine Weile nicht aktiv, Sie müssen bitte bestätigen, dass sie das Programm noch benutzen. Bitte klicken Sie den Knopf unter der Nachricht, sonst werden Sie abgemeldet."
                   :renew-password-text "Sie waren eine Weile nicht aktiv, geben Sie bitte Ihr Passwort ein, um zu bestätigen, dass Sie das Programm noch benutzen. Bitte geben Sie Ihr Passwort unter dieser Nachricht ein, sonst werden Sie abgemeldet."
                   :no-session          "Sie wurden abgemeldet, wahrscheinlich weil Sie eine Weile nicht aktiv waren. Nicht gespeicherte Einträge konnten leider nicht übernommen werden."
                   :another-session     "Sie haben in einem anderen Fenster Ihres Browsers bereits eine aktive Sitzung des Programms geöffnet. Bitte schließen Sie dieses Fenster und versuchen Sie es erneut oder gehen Sie zu dem anderen Fenster."
                   :time-to-logout      "Zeit bis zur Abmeldung: %d Min %d Sek"}
 :registration    {:begin-registration           "Beginn der Registrierung"
                   :logged-in-title              "Schon angemeldet"
                   :logged-in-text               "Sie sind schon im Programm angemeldet. Wenn Sie mit der Registrierung weitermachen, werden Sie wieder abgemeldet."
                   :logged-in-proceed            "Weiter mit der Registrierung"
                   :logged-in-cancel             "Zurück"
                   :personnummer                 "Personal number"
                   :personnummer-error           "Enter your personal number in the format 19121212-1212 (YYYYMMDD-XXXX)"
                   :bankid-title                 "Enter your personal number to start the BankID verification."
                   :bankid-start                 "Start BankID verification"
                   :provide-digits               "Geben Sie bitte die Zahlen aus dem Bild ein, um mit der Registrierung fortzufahren."
                   :captcha-error                "Leider falsch."
                   :privacy-notice-consent       "Um mit der Registrierung fortzufahren, müssen Sie der Datenschutzerklärung zustimmen."
                   :study-consent-checkboxes     "Sie müssen alle Auswahlkästchen aktivieren, um fortzufahren."
                   :form-title                   "Bitte geben Sie hier Ihre Information ein."
                   :first-name                   "Vorname"
                   :last-name                    "Nachname"
                   :email                        "E-mail"
                   :sms-number                   "Telefonnummer Mobil "
                   :repeat-password              "Passwort wiederholen"
                   :must-password                "Bitte geben sie ein Passwort ein"
                   :must-repeat                  "Bitte wiederholen Sie Ihr Passwort"
                   :repeat-not-match             "Die Passwörter stimmen leider nicht überein."
                   :password-req-error           "Das Passwort muss zwischen 8 und 20 Zeichen, Groß- und Kleinbuchstaben und Zahlen enthalten."
                   :password-req-info            "8-20 Zeichen, Groß- und Kleinbuchstaben und Zahlen"
                   :must-enter                   "Sie müssen hier eingeben"
                   :change-information           "Ändern der Informationen"
                   :sms-country-error            "Ungültige Länder-Vorwahl für Telefonnummer"
                   :please-review                "Please review and confirm your information."
                   :validation-code              "Ihr Aktivierung Code"
                   :validate-heading             "Bestätigen der Kontaktdaten"
                   :validate-info-m-e            "Wir haben einen Aktivierungscode an Ihre Telefonnummer und Emailadresse gesendet. Bitte geben Sie den Code hier ein, um Ihre Kontaktdaten zu bestätigen."
                   :validate-info-e              "Wir haben einen Aktivierungscode an ihre Emailadresse geschickt. Bitte geben Sie den Code hier ein, um Ihre Kontaktdaten zu bestätigen."
                   :validate-info-m              "Wir haben einen Aktivierungscode an Ihre Telefonnummer geschickt. Bitte geben Sie den Code hier ein, um Ihre Kontaktdaten zu bestätigen."
                   :troubleshoot-m               "Wenn der Aktivierungscode nicht auf Ihrem Telefon angekommen ist, versuchen Sie es bitte erneut."
                   :troubleshoot-e               "Es dauert meist ein paar Minuten bis die Bestätigungs-Email mit dem Aktivierungscode ankommt. Wenn Sie die Email nicht bekommen haben, schauen Sie bitte in Ihrem Spam-Ordner nach."
                   :code-sms                     "Aktivierungscode wurde an Telefonnummer versendet."
                   :code-email                   "Aktivierungscode wurde an Email versendet."
                   :code-confirmed               "Aktivierungscode bestätigt!"
                   :change-contact-information   "Ändern Sie bitte die Kontaktdaten"
                   :cancel                       "Abbrechen der Registrierung"
                   :duplicate-heading            "Der Benutzer existiert bereits!"
                   :duplicate-info               "Ein Benutzer mit der Information existiert bereits."
                   :contact-project-manager      "Wenn Sie denken, dass es einen Fehler gibt, kontaktieren Sie bitte die Studienmitarbeiter"
                   :register-again               "Zurück zur Registrierung"
                   :credentials-heading          "Ihre Zugangsdaten"
                   :credentials-info             "Hier Ihre Zugangsdaten. Bitte notieren Sie diese und bewahren Sie sie sicher auf."
                   :entered-password             "Ihr gewähltes Passwort"
                   :assessments-following        "Sie werden jetzt einige Fragebögen ausfüllen, um die Registrierung abzuschließen."
                   :credentials-resume-info      "Wenn die Registrierung unterbrochen wird, gehen Sie wieder zur Login-Seite, melden sich mit Ihren Zugangsdaten an und gehen dann weiter zur Registrierung." 
                   :no-credentials-resume-info   "Wenn die Registrierung unterbrochen wird, müssen sie sich erneut mit genau den gleichen Kontaktdaten registrieren."
                   :login-address                "Die Adresse zur Login-Seite ist"
                   :credentials-noted            "Bitte hier klicken, wenn Sie Ihre Zugangsdaten erhalten haben."
                   :resuming-finished-heading    "Die Registrierung ist bereits abgeschlossen"
                   :resuming-finished-info       "Sie haben die Registrierung schon abgeschlossen. Wenn Sie Fragen haben, kontaktieren Sie bitte die Studienmitarbeiter hier"
                   :resuming-assessments-heading "Weiter mit der Registrierung"
                   :resuming-assessments-info    "Sie haben die Registrierung bereits begonnen, aber nicht abgeschlossen. Sie werden an der Stelle weitermachen, wo Sie aufgehört haben."}
 :dashboard       {:start           "Startseite"
                   :welcome         "Herzlich Willkommen! Schön, dass Sie da sind."
                   :new-modules     "Sie haben jetzt Zugang zu neuen Modulen"
                   :go-to-modules   "Zu den Modulen"
                   :go-to-messages  "Zu den Nachrichten"
                   :treatment-dates "Ihre Teilnahme am Programm hat %1 begonnen und endet %2."
                   :days-remaining  "Sie haben noch %1 Tage, die Sie das Programm nutzen können."
                   :last-day        "Das ist der letzte Tag, an dem Sie das Programm nutzen können."}
 :instrument      {:range-error     "Bitte gehen Sie einen Wert zwischen %s und %s ein."
                   :range-error-max "Bitte geben Sie einen Wert von %s oder mehr ein."
                   :range-error-min "Bitte geben Sie einen Wert von %s oder weniger ein."
                   :pattern-error   "Ihre Antwort entspricht leider nicht dem Antwortformat."
                   :must-answer     "Bitte geben Sie eine Antwort ein."
                   :must-specify-1  "Bitte geben Sie diese zusätzliche Information für ihre Antwort ein."
                   :must-specify-m  "Bitte geben Sie diese zusätzlichen Informationen für ihre Antwort ein."
                   :order-count     "Fragebogen %1 von %2"
                   :page-count      "Seite %s von %s"}
 :date-time       {:datetime-ns "JJJJ-MM-TT HH:mm"
                   :date        "JJJJ-MM-TT"
                   :time-ns     "HH:mm"
                   :today       "heute"
                   :tomorrow    "morgen"
                   :in-days     "in %1 Tagen"
                   :yesterday   "gestern"
                   :days-ago    "vor %1 Tagen"}
 :messages        {:sent-on-from      "Gesendet %1 %2"
                   :from-therapist    "von %1 am %2"
                   :must-message      "Bitte schreiben Sie hier Ihre Nachricht"
                   :subject           "Betreff der Nachricht"
                   :text              "Text der Nachricht"
                   :save-draft        "Entwurf speichern"
                   :messages          "Nachrichten"
                   :new-message-title "Neue Nachricht"
                   :new-message       "Sie haben eine neue Nachricht"}
 :modules         {:modules                 "Module"
                   :activated               "Aktiviert"
                   :module-text             "Modultext"
                   :read-module-text        "Modultext lesen"
                   :download-module-text    "Modultext herunterladen"
                   :complete-homework       "Hausaufgabe ausfüllen"
                   :download-homework       "Hausaufgabe herunterladen"
                   :fill-in                 "Ausfüllen"
                   :no-module               "Dieses Modul existiert nicht."
                   :no-homework             "Dieses Modul hat keine Hausaufgabe"
                   :no-worksheet            "Dieses Modul hat dieses Arbeitsblatt nicht"
                   :worksheets              "Arbeitsblatt"
                   :homework                "Hausaufgabe"
                   :page-top                "Seitenanfang"
                   :show-example            "Beispiel anzeigen"
                   :close-example           "Beispiel schließen"
                   :submit-homework         "Hausaufgabe abschicken"
                   :retract-homework        "Hausaufgabe zurückziehen"
                   :save-homework           "Speichern ohne abschicken"
                   :not-available           "Nicht verfügbar"
                   :unread                  "Ungelesen"
                   :submitted-ok-title      "Fertig!"
                   :submitted-ok-text       "Sie haben Ihre Hausaufgabe abgeschickt und sie wurde von Ihrer Therapeutin/Ihrem Therapeut angeschaut."
                   :submitted-waiting-title "Abgeschickt!"
                   :submitted-waiting-text  "Sie haben Ihre Hausaufgabe %1 abgeschickt und sie wird von Ihrer Therapeutin/Ihrem Therapeut angeschaut werden."}
 :error-report    {:problems?              "Probleme?"
                   :page-title             "Problem mit der Seite"
                   :experiencing-problems? "Haben Sie Probleme mit der Webseite oder dem Programm?"
                   :report-info            "Wenn etwas mit der Webseite falsch zu sein scheint, bitte hier melden. Bitte beschreiben Sie das Problem möglichst genau."
                   :description-here       "Beschreiben Sie bitte hier das Problem"
                   :thank-you              "Vielen Dank. Wir haben Ihre Nachricht erhalten und melden uns bald bei Ihnen."}
 :login           {:login                    "Anmeldung"
                   :must-username            "Bitte geben Sie Ihren Benutzername ein"
                   :must-password            "Bitte geben Sie Ihr Passwort ein"
                   :username-password-error  "Falscher Benutzername oder falsches Passwort"
                   :please-double-auth       "Bitte geben Sie Ihren doppelten Authentifizierung-Code ein."
                   :code                     "Code"
                   :code-error               "Falscher Code"
                   :no-send-method           "Sie haben keine Emailadresse oder Telefonnummer hinterlegt, um sich anzumelden. Bitte kontaktieren Sie die Studienmitarbeiter hier %1."
                   :re-auth                  "Noch mal Authentifizieren"
                   :password-error           "Falsches Passwort"
                   :please-re-auth           "Bitte gegen Sie Ihr Passwort noch mal ein, um das Programm weiter zu nutzen."
                   :please-re-auth-form      "Wir benötigen bitte ihr Passwort, bevor sie ihre Daten abschicken können."
                   :no-activities            "Keine Aufgaben"
                   :no-activities-info       "Sie haben keine zu erledigenden Aufgaben. Sie wurden abgemeldet und können dieses Fenster schließen."
                   :activities-finished      "Aufgaben erledigt"
                   :activities-finished-info "Sie haben keine zu erledigenden Aufgaben mehr. Sie wurden abgemeldet und können dieses Fenster schließen."
                   :lost-password            "Ich habe mein Passwort vergessen"
                   :password-needed          "Ihr Passwort wird benötigt"}
 :lost-password   {:title                   "Passwort vergessen"
                   :request-info            "Geben Sie bitte Ihre Emailadresse oder Ihren Benutzername ein. Wir schicken Ihnen eine Email mit einem Link. Klicken Sie auf den Link in der Email, um ein neues Passwort anzulegen."
                   :request-email-header    "Neues Passwort anfordern"
                   :request-email-text      "Klicken Sie auf den Link, um ein neues Passwort anzufordern. \n\n %1\n\n Der Link ist für eine Stunde gültig und kann nur einmal benutzt werden. Wenn Sie kein neues Passwort angefordert haben, melden Sie sich bitte hier bei uns %2."
                   :request-sent-title      "Email gesendet"
                   :request-sent-info-1     "Wenn Ihr Benutzername oder Ihre Email existieren, haben wir Ihnen eine Email an die registrierte Emailadresse geschickt. Bitte klicken Sie den Link in der Email an, um ein neues Passwort anzulegen."
                   :request-sent-info-2     "Es kann ein paar Minuten dauern, bis die Email ankommt. Wenn Sie die Email nicht erhalten haben, haben Sie vielleicht eine falsche Emailadresse oder einen falschen Benutzername eingegeben. Bitte wenden Sie sich an die Studienmitarbeiter, wenn die Email nicht bei Ihnen ankommt."
                   :request-received-title  "Neues Passwort anfordern- erfolgreich"
                   :request-received-info   "Wir melden uns bei Ihnen bzgl. eines neuen Passworts."
                   :request-not-found-title "Ungültiger Link"
                   :request-not-found-info  "Der Link, den Sie angeklickt haben, ist nicht gültig. Die Links funktionieren nur für eine Stunde und können nur einmal benutzt werden."
                   :report-info             "Bitte geben Sie Ihre Emailadresse oder Ihren Benutzername ein."
                   :report-received-info-1  "Wir melden uns bei Ihnen bzgl. eines neuen Passworts."
                   :report-received-info-2  "Wenn wir uns in den nächsten Tagen nicht melden, haben sie eventuell eine falsche Emailadresse oder einen falschen Benutzernamen eingegeben. Bitte wenden Sie sich hier an die Studienmitarbeiter"
                   :again                   "Noch mal ein neues Passwort anfordern."
                   :forgot-username         "Wenn Sie Ohren Benutzernamen oder Ihre Emailadresse nicht wissen, melden sie sich bitte bei den Studienmitarbeitern "
                   :close-window            "Sie können das Fenster schließen"}
 :error           {:something-happened    "Da ist leider etwas schief gelaufen!"
                   :page-not-found        "Seite nicht gefunden"
                   :page-not-found-longer "Die Seite konnte leider nicht gefunden werden."
                   :go-back               "Versuchen Sie es bitte mit Zurück-gehen in Ihrem Browser" 
                   :or-login              "oder gehen Sie zur Anmeldung"
                   :login                 "gehen Sie bitte zur Anmeldung"
                   :timeout-hard          "Sie wurden abgemeldet. Sie werden zur Anmeldung weitergeleitet."
                   :try-reload            "Leider ist etwas schief gelaufen und Ihre Daten konnten nicht übermittelt werden. Versuchen Sie es bitte erneut oder laden Sie die Seite neu."
                   :not-authorized        "Nicht berechtigt."
                   :not-authorized-longer "Sie sind nicht berechtigt, diese Seite zu sehen."
                   :server-busy           "Der Server ist aktuell sehr beschäftigt. Versuchen Sie es bitte in ein paar Sekunden erneut."}
 :number          {:1  "eins"
                   :2  "zwei"
                   :3  "drei"
                   :4  "vier"
                   :5  "fünf"
                   :6  "sechs"
                   :7  "sieben"
                   :8  "acht"
                   :9  "neun"
                   :10 "zehn"}
 :privacy-notice  {:consent-title   "Um das Programm zu nutzen, müssen Sie der Datenschutzerklärung zustimmen."
                   :no-consent      "Ich stimme nicht zu"
                   :no-consent-info "Wenn Sie nicht zustimmen, werden Sie vom Programm abgemeldet. Sie können sich erneut anmelden, wenn Sie Ihre Meinung ändern. Wenn Sie Fragen haben, wenden Sie sich bitte hier an die Studienmitarbeiter"
                   :notice-title    "Datenschutzerklärung"}
 :bankid          {:title             "BankID verification"
                   :ongoing-title     "Ongoing BankID verification"
                   :ongoing-text      "You have an ongoing BankID verification process. Would you like to return to BankID?"
                   :ongoing-return    "Yes, I want to continue with BankID"
                   :ongoing-cancel    "No, I want to cancel BankID"
                   :no-session-title  "No ongoing BankID verification"
                   :no-session-text   "You do not have an ongoing BankID verification process. Press back in your browser to return to the previous page."
                   :contacting        "Contacting"
                   :contacting-bankid "Contacting BankID"
                   :pending           "Waiting"
                   :failed            "Failed"
                   :error             "Error"
                   :error-text        "An unknown error occured."
                   :cancel-go-back    "Click cancel to go back."
                   :no-session        "No BankID verification process is ongoing."
                   :rfa1              "Start your BankID app."
                   :rfa2              "The BankID app is not installed. Please contact your internet bank."
                   :rfa3              "Action cancelled. Please try again."
                   :rfa3-first        "Another request for BankID has been made for the same personal number. Action cancelled. Please try again."
                   :rfa3-second       "A BankID login or sign process is already ongoing for this personal number. Action cancelled. Please try again."
                   :rfa5              "Internal error. Please try again."
                   :rfa6              "Action cancelled."
                   :rfa8              "The BankID app is not responding. Please check that the program is started and that you have internet access. If you don't have a valid BankID you can get one from your bank. Try again."
                   :rfa9              "Enter your security code in the BankID app and select Identify or Sign."
                   :rfa13             "Trying to start your BankID app."
                   :rfa14             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank. If you have a BankID on another device you can start the BankID app on that device."
                   :rfa15             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank."
                   :rfa16             "The BankID you are trying to use is revoked or too old. Please use another BankID or order a new one from your internet bank."
                   :rfa17             "The BankID app couldn't be found on your computer or mobile device. Please install it and order a BankID from your internet bank. Install the app from install.bankid.com"
                   :rfa18             "Start the BankID app."
                   :rfa19             "Would you like to login or sign with a BankID on this computer or with a Mobile BankID?"
                   :rfa20             "Would you like to login or sign with a BankID on this device or with a BankID on another device?"
                   :rfa21             "Login or signing in progress."
                   :rfa22             "Unknown error. Please try again."}}