{:submit          "Send"
 :confirm         "Bekræft"
 :cancel          "Annuller"
 :next            "Næste"
 :previous        "Forrige"
 :me              "mig"
 :username        "Brugernavn"
 :password        "Adgangskode"
 :continue        "Fortsæt"
 :close           "Luk"
 :logout          "Log ud"
 :logout-confirm  "Er du sikker på, at du vil logge ud?"
 :save            "Gem"
 :save-changes    "Gem ændringer"
 :unsaved-changes "Du har ugemte ændringer!"
 :tab             "Fane"
 :i-consent       "Jeg samtykker"
 :contact-support "Du kan kontakte IT-support for at få hjælp"
 :characters-left "Tegn tilbage"
 :too-long!       "for langt!"
 :return-to-login "Tilbage til login"
 :quick-login     {:expired-title           "Login udløbet"
                   :expired-text            "Din adgangskode er udløbet."
                   :invalid-title           "Ugyldig adgangskode"
                   :invalid-text            "Din adgangskode er ugyldig."
                   :contact-project-manager "Hvis du har brug for en nye adgangskode, så kontakt projektleder på"
                   :username-password       "Hvis du har et brugernavn og en adgangskode:"}
 :offline-warning "Det ser ud som om, du er offline. Du skal venligst sikre dig, at du er online før du poster."
 :download        "Hent"
 :session-status  {:renew-click-title   "Bekræft, at du er aktiv"
                   :renew-click-text    "Du har været inaktiv i et stykke tid, og må derfor bekræfte, at du fortsat bruger systemet. Klik venligst på knappen nedenfor, for at forblive logget ind."
                   :renew-password-text "Du har været inaktiv i et stykke tid og må derfor angive din adgangskode for at bekræfte, at du fortsat bruger systemet. Indtast venligst din adgangskode nedenfor, for at forblive logget ind."
                   :no-session          "Du er blevet logget ud, muligvis fordi, du har været inaktiv i et stykke tid. Data som du ikke har gemt er tabt."
                   :another-session     "Du har en anden proces i gang i et andet browser vindue. Luk venligst dette browser vindue og gå til det andet vindue."
                   :time-to-logout      "Tid til log ud: %d min %d sek"}
 :registration    {:begin-registration           "Begynd registrering"
                   :logged-in-title              "Du er allerede logget ind"
                   :logged-in-text               "Du er allerede logget ind i systemet. Hvis du ønsker at fortsætte med registreringen, vil du blive logget ud."
                   :logged-in-proceed            "Fortsæt med registreringen"
                   :logged-in-cancel             "Tilbage"
                   :personnummer                 "Personnummer"
                   :personnummer-error           "Angiv dit personnummer i følgende format 160565-XXXX (DDMMYY-XXXX)"
                   :bankid-title                 "Angiv dit personnummer for at starte BankID bekræftelse."
                   :bankid-start                 "Start BankID bekræftelse"
                   :provide-digits               "Indsæt tallene på billedet for at fortsætte med registreringen."
                   :captcha-error                "Du har indtastet forkerte tal."
                   :privacy-notice-consent       "For at fortsætte med registreringen, skal du acceptere dette samtykke om beskyttelse af dine personoplysninger"
                   :study-consent-checkboxes     "Kontroller alle tjekboksene for at fortsætte."
                   :form-title                   "Indtast dine personoplysninger her"
                   :first-name                   "Fornavne"
                   :last-name                    "Efternavn"
                   :email                        "E-mail"
                   :sms-number                   "Mobilnummer"
                   :repeat-password              "Gentag adgangskode"
                   :must-password                "Indtast en adgangskode"
                   :must-repeat                  "Gentag din adgangskode"
                   :repeat-not-match             "Den gentagede adgangskode matcher ikke den første adgangskode."
                   :password-req-error           "Din adgangskode skal være på 8-20 tegn og indholde små og store bogstaver samt tal"
                   :password-req-info            "8-20 tegn, små og store bogstaver samt tal"
                   :must-enter                   "Du må indtaste din"
                   :change-information           "Ændringer i personoplysninger"
                   :sms-country-error            "Ugyldig landekode for mobilnummer"
                   :please-review                "Gennemse venligst dine personoplysninger og bekræft disse."
                   :validation-code              "Din valideringskode"
                   :validate-heading             "Bekræft kontaktoplysninger"
                   :validate-info-m-e            "Du har modtaget en valideringskode på din mobiltelefon og din e-mailadresse. Indtast venligst disse nedenfor for at bekræfte kontaktoplysninger."
                   :validate-info-e              "Du har modtaget en valideringskode på din e-mailadresse. Indtast venligst denne nedenfor for at bekræfte kontaktoplysninger."
                   :validate-info-m              "Du har modtaget en valideringskode på din mobiltelefon. Indtast venligst denne nedenfor for at bekræfte kontaktoplysninger."
                   :troubleshoot-m               "Hvis du ikke har modtaget koden på din mobiltelefon, så prøv at genstarte den."
                   :troubleshoot-e               "Det kan tage nogle minutter, før du modtager e-mailen med bekræftelsen. Hvis du ikke modtager koden på e-mail, så tjek dit spam filter."
                   :code-sms                     "Kode er sendt til din mobiltelefon"
                   :code-email                   "Kode er sendt til din e-mailadresse"
                   :code-confirmed               "Koden bekræftet!"
                   :change-contact-information   "Rediger kontaktoplysninger"
                   :cancel                       "Annuller registrering"
                   :duplicate-heading            "Bruger allerede i brug!"
                   :duplicate-info               "En bruger med disse oplysninger er allerede registeret."
                   :contact-project-manager      "Hvis du tænker, at dette er en fejl, så kontalt venligst projeklederen på"
                   :register-again               "Tilbage til registrering"
                   :credentials-heading          "Dine loginoplysninger"
                   :credentials-info             "Du finder dine loginoplysninger nedenfor. Skriv dem venligst ned og gem dem et sikkert sted."
                   :entered-password             "Den adgangskode som du vælger"
                   :assessments-following        "Du skal nu udfylde spørgeskemaerne for at fuldende registreringen."
                   :credentials-resume-info      "Hvis din registrering bliver afbrudt, så gå til loginadressen og brug dine loginoplysninger for at fortsætte registreringen."
                   :no-credentials-resume-info   "Hvis din registrering bliver afbrudt, skal du registrere dig igen med præcis samme kontaktoplysninger for at fortsætte registreringen."
                   :login-address                "Adressen til loginsiden er"
                   :credentials-noted            "Klik her, når du har noteret dine loginoplysninger."
                   :resuming-finished-heading    "Registrering er allerede gennemført"
                   :resuming-finished-info       "Du har tidligere gennemført registreringen. Hvis du har nogle spørgsmål, så bedes du kontakte projektlederen på"
                   :resuming-assessments-heading "Fortsæt registrering"
                   :resuming-assessments-info    "Du har tidligere startet denne registrering uden at gennemføre den. Du vil fortsætte, hvor du nåede til."}
 :dashboard       {:start           "Startside"
                   :welcome         "Velkommen!"
                   :new-modules     "Du har adgang til nye moduler"
                   :go-to-modules   "Gå til moduler"
                   :go-to-messages  "Gå til beskeder"
                   :treatment-dates "Din behandling begyndte %1 og ender %2."
                   :days-remaining  "Du har %1 dage tilbage af behandlingen."
                   :last-day        "Dette er den sidste dag i behandlingen."}
 :instrument      {:range-error     "Angiv en værdi mellem %s og %s."
                   :range-error-max "Angiv en værdi mellem %s eller mere."
                   :range-error-min "Angiv en værdi mellem %s eller mindre."
                   :pattern-error   "Dit svar er ugyldigt."
                   :must-answer     "Du skal angive et svar for at fortsætte"
                   :must-specify-1  "Du skal uddybe dit svar for at fortsætte."
                   :must-specify-m  "Du skal uddybe dine svar for at fortsætte."
                   :order-count     "Spørgeskema %1 ud af %2"
                   :page-count      "Side %s ud af %s"}
 :date-time       {:datetime-ns "yyyy-MM-dd HH:mm"
                   :date        "yyyy-MM-dd"
                   :time-ns     "HH:mm"
                   :today       "i dag"
                   :tomorrow    "i morgen"
                   :in-days     "om %1 dage"
                   :yesterday   "i går"
                   :days-ago    "%1 dage siden"}
 :messages        {:sent-on-from      "Sendt af %1 %2"
                   :from-therapist    "Fra %1 til %2"
                   :must-message      "Skriv venligst en beskedtekst"
                   :subject           "Emnefelt"
                   :text              "Beskedtekst"
                   :save-draft        "Gem udkast"
                   :messages          "Beskeder"
                   :new-message-title "Ny besked"
                   :new-message       "Du har en ny besked"}
 :modules         {:modules                 "Moduler"
                   :activated               "Aktiveret"
                   :module-text             "Tekst til modul"
                   :read-module-text        "Læs teksten til modulet"
                   :download-module-text    "Hent teksten til modulet"
                   :complete-homework       "Gennemfør hjemmearbejde"
                   :download-homework       "Hent hjemmearbejde"
                   :fill-in                 "Udfyld"
                   :no-module               "Dette modul findes ikke"
                   :no-homework             "Dette modul har ikke noget hjemmearbejde"
                   :no-worksheet            "Dette modul har ikke dette arbejdsark"
                   :worksheets              "Arbejdsark"
                   :homework                "Hjemmearbejde"
                   :page-top                "Øverst på siden"
                   :show-example            "Vis et eksempel"
                   :close-example           "Luk eksemplet"
                   :submit-homework         "Send hjemmearbejde"
                   :retract-homework        "Træk hjemmearbejde tilbage"
                   :save-homework           "Gem uden at sende"
                   :not-available           "Ikke tilgængelig"
                   :unread                  "Ulæst"
                   :submitted-ok-title      "Gennemført!"
                   :submitted-ok-text       "Du har sendt dit hjemmearbejde og det er blevet gennemgået af din terapeut."
                   :submitted-waiting-title "Sendt!"
                   :submitted-waiting-text  "Du har sendt dit hjemmearbejde %1 og det venter på at blive gennemgået af din terapeut."}
 :error-report    {:problems?              "Problemer?"
                   :page-title             "Problemer med hjemmesiden?"
                   :experiencing-problems? "Har du problemer med hjemmesiden?"
                   :report-info            "Hvis der er problemer med hjemmesiden, kan du rapportere problemerne her. Giv venligst en detaljeret beskrivelse af de problemer, du oplever."
                   :description-here       "Angiv din beskrivelse af problemet her"
                   :thank-you              "Tak for rapporten. Den er blevet modtaget og vi vil kontakte dig hurtigst muligt."}
 :login           {:login                    "Login"
                   :must-username            "Angiv venligst dit brugernavn"
                   :must-password            "Angiv venligst din adgangskode"
                   :username-password-error  "Forkert brugernavn eller adgangskode"
                   :please-double-auth       "Indsæt venligst din dobbelte godkendelseskode."
                   :code                     "Kode"
                   :code-error               "Forkert kode indtastet"
                   :no-send-method           "Du har ikke indtastet e-mail eller sms nummer som krævet for at logge ind. Kontakt venligst support på %1."
                   :re-auth                  "Godkend igen"
                   :password-error           "Forkert adgangskode"
                   :please-re-auth           "Indtast venligst din adgangskode for at fortsætte med at bruge systemet."
                   :please-re-auth-form      "Du skal indtaste din adgangskode for at kunne indsende dine oplysninger."
                   :no-activities            "Ingen aktiviteter"
                   :no-activities-info       "Du har ingen aktiviteter at gennemføre. Du er logget ud og kan lukke denne browser fane."
                   :activities-finished      "Aktiviteter afsluttet"
                   :activities-finished-info "Du har ikke flere aktiviteter at gennemføre. Du er logget ud og kan lukke denne browser fane."
                   :lost-password            "Jeg har glemt min adgangskode"
                   :password-needed          "Adgangskode påkrævet"}
 :lost-password   {:title                   "Glemt adgangskode"
                   :request-info            "Indtast dit brugernavn eller e-mailadresse. Vi sender dig en e-mail med et link. Følg dette link for at anmode om en ny adgangskode."
                   :request-email-header    "Anmod om ny adgangskode"
                   :request-email-text      "Klik på nedenstående link for at anmode om en ny adgangskode. \n\n %1\n\n Linket er gyldigt i en time og kan kun anvendes én gang. Hvis du ikke har anmodet om et nyt password, så kontakt os venligst på %2."
                   :request-sent-title      "E-mail sendt"
                   :request-sent-info-1     "Såfremt dit brugernavn eller din e-mailaddresse eksisterer, har vi sendt en e-mail til din registrerede e-mailadresse. Klik på linket i e-mailen for at anmode om en ny adgangskode."
                   :request-sent-info-2     "Der kan gå et par minutter, før du modtager e-mailen. Hvis du ikke modtager en e-mail, har du måske intastet en forkert e-mailadddresse eller brugernavn. Kontakt venligst support på nedenstående adresse, såfremt du ikke modtager e-mailen."
                   :request-received-title  "Anmodningen om en ny adgangkode er modtaget"
                   :request-received-info   "Du vil blive kontaktet angående din nye adgangskode."
                   :request-not-found-title "Ugyldigt link"
                   :request-not-found-info  "Linket, som du har klikket på, er ugyldigt. Links kan kun benyttes i en time og kun én gang."
                   :report-info             "Indtast dit brugernavn eller din e-mailadresse."
                   :report-received-info-1  "Du vil blive kontaktet angående din nye adgangskode."
                   :report-received-info-2  "Hvis du ikke bliver kontaktet indenfor de næste dage, har du måske indtastet et forkert brugernavn eller adgangskode. Kontakt da support på"
                   :again                   "Anmod om en ny adgangskode igen."
                   :forgot-username         "Hvis du ikke kan huske dit brugernavn eller registrerede e-mailadresse, så kontakt venligst support på "
                   :close-window            "Du kan lukke dette browser vindue"}
 :set-password    {:title               "Vælg din adgangskode"
                   :success             "Din adgangskode er blevet ændret. Du vil nu blive dirigeret til login siden."
                   :invalid-uid-title   "Ugyldigt link"
                   :invalid-uid-info    "Det link som du har angivet er ugyldigt. Tjek venligst, at du har indsat det korrekte link."
                   :invalid-uid-expired "Dit link kan være udløbet, da links til adgangskoder kun varer i to dage og kun kan anvendes én gang."}
 :error           {:something-happened    "Der skete noget dårligt!"
                   :page-not-found        "Siden findes ikke"
                   :page-not-found-longer "Den ønskede side findes ikke."
                   :go-back               "Forsøg at gå tilbage i din browser"
                   :or-login              "eller gå til loginsiden"
                   :login                 "Gå til loginsiden"
                   :timeout-hard          "Du er blevet logget ud. Du vil blive dirigeret til loginsiden."
                   :try-reload            "Der er noget galt og dine oplysninger kan ikke sendes. Prøv at genindsende eller genindlæse siden."
                   :not-authorized        "Ikke tilladt."
                   :not-authorized-longer "Du har ikke tilladelse til at se denne side."
                   :server-busy           "Serveren har meget travlt i øjeblikket. Prøv igen om nogle sekunder."}
 :number          {:1  "et"
                   :2  "to"
                   :3  "tre"
                   :4  "fire"
                   :5  "fem"
                   :6  "seks"
                   :7  "syv"
                   :8  "otte"
                   :9  "ni"
                   :10 "ti"}
 :privacy-notice  {:consent-title   "For fortsat at bruge hjemmesiden, må du give samtykke til denne beskyttelse af private oplysninger"
                   :no-consent      "Jeg giver ikke mit samtykke"
                   :no-consent-info "Hvis du ikke giver dit samtykke til beskyttelsen af private oplysninger, vil du blive logget af hjemmesiden. Du kan logge ind igen, hvis du skifter mening og vil give dit samtykke til beskyttelsen af private oplysninger. Hvis du har nogle spørgsmål, så kontakt venligst projeklederen på"
                   :notice-title    "Beskyttelse af private oplysninger"}
 :bankid          {:title             "BankID verificering"
                   :ongoing-title     "BankID verificering pågår"
                   :ongoing-text      "Verificering af din BankID pågår. Ønsker du at returnere til BankID?"
                   :ongoing-return    "Ja, Jeg ønsker at fortsætte med BankID"
                   :ongoing-cancel    "Nej, Jeg ønsker at afbryde BankID"
                   :no-session-title  "Der pågår igen verificering af BankID"
                   :no-session-text   "Du har ingen BankID verificering i gang. Klik tilbage i din browser for at komme til den forrige side."
                   :contacting        "Kontakter"
                   :contacting-bankid "Kontakter BankID"
                   :pending           "Venter"
                   :failed            "Mislykkedes"
                   :error             "Fejl"
                   :error-text        "En ukendt fejl opstod."
                   :cancel-go-back    "Klik annuller for at gå tilbage."
                   :no-session        "Der pågår ingen verificerng af BankID."
                   :rfa1              "Start din BankID app."
                   :rfa2              "BankID appen er ikke installeret. Kontakt venligst din netbank."
                   :rfa3              "Handlingen er afbrudt. Forsøg venligst igen."
                   :rfa3-first        "En anden anmodning om BankID er indgivet for det samme personnummer. Handlingen er afbrudt. Forsøg venligst igen."
                   :rfa3-second       "Et forsøg på BankID log ind eller signeringsproces pågår allerede for dette personnummer. Ugyldig handling. Forsøg venligst igen."
                   :rfa5              "Intern fejl. Forsøg venligst igen."
                   :rfa6              "Handlingen er afbrudt."
                   :rfa8              "BankID appen svarer ikke. Tjek venligst at programmet er startet og at du har internet adgang. Hvis du ikke har et gyldigt BankID, kan du få et hos din bank. Forsøg igen."
                   :rfa9              "Indtast din sikkerhedskode i BankID appen og vælg Identificer eller signer."
                   :rfa13             "Forsøger at starte din BankID app."
                   :rfa14             "Søger efter BankID:s, det kan tage et lille stykke tid...\nHvis der er gået nogle sekunder og der ikke er fundet noget BankID, så har du muligvis ikke et BankID, som kan bruges til dette login/signatur på denne enhed. Hvis du ikke har et BankID, kan du bestille et hos din netbank. Hvis du har et BankID på en anden enhed, kan du starte BankID appen på den enhed."
                   :rfa15             "Søger efter BankID:s, det kan tage et lille stykke tid...\nHvis der er gået nogle sekunder og der ikke er fundet noget BankID, så har du muligvis ikke et BankID, som kan bruges til dette login/signatur på denne enhed. Hvis du ikke har et BankID, kan du bestille et i din netbank."
                   :rfa16             "BankID'et, som du forsøger at bruge er tilbagekaldt eller for gammelt. Forsøg venligst med et andet BankID eller bestil et nyt fra din netbank."
                   :rfa17             "BankID appen findes ikke på din computer eller på din mobile enhed. Installer venligst denne og bestil et BankID hos din netbank. Installer appen fra install.bankid.com"
                   :rfa18             "Start BankID appen."
                   :rfa19             "Ønsker du at logge ind eller signere med BankID på denne computer eller med Mobile BankID?"
                   :rfa20             "Ønsker du at logge ind eller signere med BankID på denne enhed eller med et BankID på en anden enhed?"
                   :rfa21             "Log ind eller signatur pågår."
                   :rfa22             "Ukendt fejl. Forsøg venligst igen."}}