{:submit          "Submit"
 :confirm         "Confirm"
 :next            "Next"
 :previous        "Previous"
 :me              "me"
 :username        "Username"
 :password        "Password"
 :continue        "Continue"
 :close           "Close"
 :logout          "Logout"
 :logout-confirm  "Are you sure you want to log out?"
 :save            "Save"
 :save-changes    "Save changes"
 :unsaved-changes "You have unsaved changes!"
 :tab             "Tab"
 :i-consent       "I consent"
 :contact-support "You contact support at "
 :quick-login     {:expired-title           "Login expired"
                   :expired-text            "Your login code has expired."
                   :invalid-title           "Invalid login code"
                   :invalid-text            "Your login code is not valid."
                   :contact-project-manager "If you need a new code, contact project manager at"
                   :username-password       "If you have a username and password:"}
 :offline-warning "You seem to be offline. Please make sure you are online before posting."
 :download        "Download"
 :registration    {:begin-registration         "Begin registration"
                   :personnummer               "Personal number"
                   :personnummer-error         "Enter your personal number in the format 19121212-1212 (YYYYMMDD-XXXX)"
                   :bankid-title               "Enter your personal number to start the BankID verification."
                   :bankid-start               "Start BankID verification"
                   :provide-digits             "Enter the digits in the image to continue with the registration."
                   :captcha-error              "Wrong digits entered."
                   :privacy-notice-consent     "To continue with the registration you must consent to this Privacy Notice"
                   :form-title                 "Enter your information here"
                   :first-name                 "First name"
                   :last-name                  "Last name"
                   :email                      "E-mail"
                   :sms-number                 "Mobile phone number"
                   :repeat-password            "Repeat password"
                   :must-password              "You must enter a password"
                   :must-repeat                "You must repeat your password"
                   :repeat-not-match           "Repeated password does not match password."
                   :password-req-error         "Password must be 8-20 characters and contain lowercase and uppercase letter(s) and number(s)"
                   :password-req-info          "8-20 characters, upper- and lowercase and number"
                   :must-enter                 "You must enter your"
                   :change-information         "Change information"
                   :sms-country-error          "Illegal country code for mobile number"
                   :please-review              "Please review and confirm your information."
                   :validation-code            "Your validation code"
                   :validate-heading           "Validate contact information"
                   :validate-info-m-e          "We have sent validation codes to your mobile phone and e-mail address. Please enter them below to confirm this contact information."
                   :validate-info-e            "We have sent a validation code to your e-mail address. Please enter it below to confirm this contact information."
                   :validate-info-m            "We have sent a validation code to your mobile phone. Please enter it below to confirm this contact information."
                   :troubleshoot-m             "If the code does not reach your mobile, try restarting it."
                   :troubleshoot-e             "It may take a few minutes for the confirmation e-mail to arrive. If the code does not reach your e-mail, check your spam folder."
                   :code-sms                   "Code sent to mobile"
                   :code-email                 "Code sent to e-mail"
                   :code-confirmed             "Code confirmed!"
                   :change-contact-information "Change contact information"
                   :cancel                     "Cancel registration"
                   :duplicate-heading          "User already exists!"
                   :duplicate-info             "A user with your information has already been registered."
                   :contact-project-manager    "If you believe this is an error, contact project manager at"
                   :register-again             "Go back to registration"
                   :credentials-heading        "Your login credentials"
                   :credentials-info           "Below are your login credentials. Please write them down and keep them in a safe place."
                   :entered-password           "The password that you chose"
                   :login-address              "The address to the login page is"
                   :credentials-noted          "Click here when you have noted your credentials."}
 :dashboard       {:start           "Start page"
                   :welcome         "Welcome!"
                   :new-modules     "You have access to new modules"
                   :go-to-modules   "Go to modules"
                   :go-to-messages  "Go to messages"
                   :treatment-dates "Your treatment started %1 and ends %2."
                   :days-remaining  "You have %1 days left of the treatment."
                   :last-day        "This is the last day of the treatment."}
 :instrument      {:range-error     "You must supply a value between %s and %s."
                   :range-error-max "You must supply a value of %s or more."
                   :range-error-min "You must supply a value of %s or less."
                   :pattern-error   "Your answer does not match the specified pattern."
                   :must-answer     "You must provide an answer."
                   :must-specify-1  "You must provide a specification to your answer."
                   :must-specify-m  "You must provide specifications to your answers."
                   :order-count     "Questionnaire %1 of %2"
                   :page-count      "Page %s of %s"}
 :date-time       {:datetime-ns "yyyy-MM-dd HH:mm"
                   :date        "yyyy-MM-dd"
                   :time-ns     "HH:mm"
                   :today       "today"
                   :tomorrow    "tomorrow"
                   :in-days     "in %1 days"
                   :yesterday   "yesterday"
                   :days-ago    "%1 days ago"}
 :messages        {:sent-on-from   "Sent by %1 %2"
                   :from-therapist "From %1 on %2"
                   :must-message   "Please write message text"
                   :subject        "Message subject"
                   :text           "Message text"
                   :save-draft     "Save draft"
                   :messages       "Messages"
                   :new-message    "You have a new message"}
 :modules         {:modules                 "Modules"
                   :activated               "Activated"
                   :module-text             "Module text"
                   :read-module-text        "Read module text"
                   :download-module-text    "Download module text"
                   :complete-homework       "Complete homework"
                   :download-homework       "Download homework"
                   :fill-in                 "Fill in"
                   :no-module               "This module does not exist"
                   :no-homework             "This module does not have homework"
                   :no-worksheet            "This module does not have this worksheet"
                   :worksheets              "Worksheets"
                   :homework                "Homework"
                   :page-top                "Top of page"
                   :show-example            "Show example"
                   :close-example           "Close example"
                   :submit-homework         "Submit homework"
                   :retract-homework        "Retract homework"
                   :save-homework           "Save without submitting"
                   :not-available           "Not available"
                   :unread                  "Unread"
                   :submitted-ok-title      "Completed!"
                   :submitted-ok-text       "You have submitted your homework and it has been reviewed by your therapist."
                   :submitted-waiting-title "Submitted!"
                   :submitted-waiting-text  "You submitted your homework %1 and it is waiting to be reviewed by your therapist."}
 :error-report    {:problems?    "Problems?"
                   :report-title "Report errors"}
 :login           {:login                   "Login"
                   :must-username           "Please provide your username"
                   :must-password           "Please provide your password"
                   :username-password-error "Wrong username or password"
                   :please-double-auth      "Please provide your double authentication code."
                   :code                    "Code"
                   :code-error              "Wrong code entered"
                   :no-send-method          "You do not have a registered e-mail or sms number required to login. Please contact support at %1."
                   :re-auth                 "Authenticate again"
                   :password-error          "Wrong password"
                   :please-re-auth          "Please provide your password to continue to use the system."
                   :please-re-auth-form     "Your password is needed before you can submit your data."
                   :no-activities           "No activities"
                   :no-activities-info      "There are no active tasks for this user. You have been logged out."
                   :lost-password           "I lost my password"
                   :password-needed         "Password needed"}
 :lost-password   {:title                   "Lost password"
                   :request-info            "Enter your username or email address. We will send you an email with a link. Follow that link to request a new password."
                   :request-email-header    "Request new password"
                   :request-email-text      "Click the link below to request a new password. \n\n %1\n\n The link is valid for one hour and can only be used once. If you have not requested a new password, please contact us at %2."
                   :request-sent-title      "Email sent"
                   :request-sent-info-1     "If your username or email address exists, we have sent an email to your registered email address. Click the link in the email to request a new password."
                   :request-sent-info-2     "It may take a few minutes for the email to arrive. If you do not receive an email, you may have entered the wrong email address or username. Please contact support at the address below if you do not receive the email."
                   :request-received-title  "New password request received"
                   :request-received-info   "We will contact you to provide you with a new password."
                   :request-not-found-title "Invalid link"
                   :request-not-found-info  "The link that you clicked is not valid. Links only last for one hour and can only be used once."
                   :report-info             "Enter your username or email address."
                   :report-received-info-1  "We will contact you to provide you with a new password."
                   :report-received-info-2  "If we do not contact you within the next few days, you may have entered the wrong username or password. You can then contact support at"
                   :again                   "Request a new password again."
                   :forgot-username         "If you don't know your username or registered email address, contact support at "
                   :close-window            "You can close this browser window"}
 :error           {:something-happened    "Something bad happened!"
                   :page-not-found        "Page not found"
                   :page-not-found-longer "The page you requested could not be found."
                   :go-back               "Try going back in your browser"
                   :or-login              "or go to the login page"
                   :login                 "Go to the login page"
                   :timeout-hard          "You have been logged out. You will be redirected to the login page."
                   :try-reload            "Something is wrong and your data cannot be submitted. Try resubmitting again or reloading the page."
                   :not-authorized        "Not authorized."
                   :not-authorized-longer "You are not authorized to view this page."
                   :server-busy           "The server is currently busy. Try again in a few seconds."}
 :number          {:1  "one"
                   :2  "two"
                   :3  "three"
                   :4  "four"
                   :5  "five"
                   :6  "six"
                   :7  "seven"
                   :8  "eight"
                   :9  "nine"
                   :10 "ten"}
 :privacy-notice  {:consent-title   "To continue to use the web site you must consent to this Privacy Notice"
                   :no-consent      "I do not consent"
                   :no-consent-info "If you do not consent to the Privacy Notice, you will be logged out of the web site. You can log in again if you change your mind and want to consent with the Privacy Notice. If you have any questions, contact project manager at"
                   :notice-title    "Privacy Notice"}
 :bankid          {:title             "BankID verification"
                   :ongoing-title     "Ongoing BankID verification"
                   :ongoing-text      "You have an ongoing BankID verification process. Would you like to return to BankID?"
                   :ongoing-return    "Yes, I want to continue with BankID"
                   :ongoing-cancel    "No, I want to cancel BankID"
                   :no-session-title  "No ongoing BankID verification"
                   :no-session-text   "You do not have an ongoing BankID verification process. Press back in your browser to return to the previous page."
                   :contacting        "Contacting"
                   :contacting-bankid "Contacting BankID"
                   :pending           "Waiting"
                   :failed            "Failed"
                   :error             "Error"
                   :error-text        "An unknown error occured."
                   :cancel-go-back    "Click cancel to go back."
                   :no-session        "No BankID verification process is ongoing."
                   :rfa1              "Start your BankID app."
                   :rfa2              "The BankID app is not installed. Please contact your internet bank."
                   :rfa3              "Action cancelled. Please try again."
                   :rfa3-first        "Another request for BankID has been made for the same personal number. Action cancelled. Please try again."
                   :rfa3-second       "A BankID login or sign process is already ongoing for this personal number. Action cancelled. Please try again."
                   :rfa5              "Internal error. Please try again."
                   :rfa6              "Action cancelled."
                   :rfa8              "The BankID app is not responding. Please check that the program is started and that you have internet access. If you don't have a valid BankID you can get one from your bank. Try again."
                   :rfa9              "Enter your security code in the BankID app and select Identify or Sign."
                   :rfa13             "Trying to start your BankID app."
                   :rfa14             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank. If you have a BankID on another device you can start the BankID app on that device."
                   :rfa15             "Searching for BankID:s, it may take a little while...\nIf a few seconds have passed and still no BankID has been found, you probably don’t have a BankID which can be used for this login/signature on this device. If you don’t have a BankID you can order one from your internet bank."
                   :rfa16             "The BankID you are trying to use is revoked or too old. Please use another BankID or order a new one from your internet bank."
                   :rfa17             "The BankID app couldn't be found on your computer or mobile device. Please install it and order a BankID from your internet bank. Install the app from install.bankid.com"
                   :rfa18             "Start the BankID app."
                   :rfa19             "Would you like to login or sign with a BankID on this computer or with a Mobile BankID?"
                   :rfa20             "Would you like to login or sign with a BankID on this device or with a BankID on another device?"
                   :rfa21             "Login or signing in progress."
                   :rfa22             "Unknown error. Please try again."}}