{:submit "Submit"
 :next "Next"
 :previous "Previous"
 :username "Username"
 :password "Password"
 :continue "Continue"
 :logout "Logout"
 :offline-warning "You seem to be offline. Please make sure you are online before posting."
 :instrument {:range-error "You must supply a value between %s and %s."
              :range-error-max "You must supply a value of %s or more."
              :range-error-min "You must supply a value of %s or less."
              :pattern-error "Your answer does not match the specified pattern."
              :must-answer "You must provide an answer."
              :must-specify-1 "You must provide a specification to your answer."
              :must-specify-m "You must provide specifications to your answers."
              :order-count "Questionnaire %1 of %2"}
 :date-time {:datetime-ns "yyyy-MM-dd HH:mm"}
 :messages {:sent-by "Sent by %1 on %2"
            :subject "Mssage subject"
            :text "Message text"
            :save-draft "Save draft"}
 :login {:login "Login"
         :please-username-password "Please provide your username and password to log on to the system."
         :username-password-error "Wrong username or password"
         :please-double-auth "Please provide your double authentication code"
         :code "Code"
         :code-error "Wrong code provided"
         :re-auth "Authenticate again"
         :password-error "Wrong password"
         :please-re-auth "Please provide your password to continue to use the system."
         :please-re-auth-form "Your password is needed before you can submit your data."}}