{:submit          "Submit"
 :next            "Next"
 :previous        "Previous"
 :username        "Username"
 :password        "Password"
 :continue        "Continue"
 :logout          "Logout"
 :save            "Save"
 :save-changes    "Save changes"
 :offline-warning "You seem to be offline. Please make sure you are online before posting."
 :instrument      {:range-error     "You must supply a value between %s and %s."
                   :range-error-max "You must supply a value of %s or more."
                   :range-error-min "You must supply a value of %s or less."
                   :pattern-error   "Your answer does not match the specified pattern."
                   :must-answer     "You must provide an answer."
                   :must-specify-1  "You must provide a specification to your answer."
                   :must-specify-m  "You must provide specifications to your answers."
                   :order-count     "Questionnaire %1 of %2"}
 :date-time       {:datetime-ns "yyyy-MM-dd HH:mm"}
 :messages        {:sent-by    "Sent by %1 on %2"
                   :subject    "Message subject"
                   :text       "Message text"
                   :save-draft "Save draft"
                   :messages   "Messages"}
 :modules         {:modules          "Modules"
                   :module-text      "Module text"
                   :no-module        "This module does not exist"
                   :no-homework      "This module does not have homework"
                   :no-worksheet     "This module does not have this worksheet"
                   :homework         "Homework"
                   :submit-homework  "Submit homework"
                   :retract-homework "Retract homework"
                   :save-homework    "Save without submitting"
                   :submitted!       "Submitted!"
                   :submitted-ok     "You have submitted your homework and it has been reviewed by your therapist."
                   :submitted-info   "You submitted your homework on %1 and it is waiting to be reviewed by your therapist."}
 :login           {:login                    "Login"
                   :please-username-password "Please provide your username and password to log on to the system."
                   :username-password-error  "Wrong username or password"
                   :please-double-auth       "Please provide your double authentication code"
                   :code                     "Code"
                   :code-error               "Wrong code provided"
                   :no-send-method           "You do not have a registered e-mail or sms number required to login. Please contact support at %1."
                   :re-auth                  "Authenticate again"
                   :password-error           "Wrong password"
                   :please-re-auth           "Please provide your password to continue to use the system."
                   :please-re-auth-form      "Your password is needed before you can submit your data."}
 :error           {:something-happened    "Something bad happened!"
                   :page-not-found        "Page not found"
                   :page-not-found-longer "The page you requested could not be found."
                   :go-back               "Try going back in your browser"
                   :or-login              "or go to the login page"
                   :login                 "Go to the login page"
                   :timeout-hard          "You have been logged out. You will be redirected to the login page."
                   :try-reload            "Something is wrong and your data cannot be submitted. Try resubmitting again or reloading the page."
                   :not-authorized        "Not authorized."
                   :not-authorized-longer "You are not authorized to view this page."}}