{:submit          "Skicka in"
 :confirm         "Bekräfta"
 :next            "Nästa"
 :previous        "Föregående"
 :me              "mig"
 :username        "Användarnamn"
 :password        "Lösenord"
 :continue        "Fortsätt"
 :logout          "Logga ut"
 :logout-confirm  "Är du säker på att du vill logga ut?"
 :save            "Spara"
 :save-changes    "Spara ändringar"
 :unsaved-changes "Du har ändringar som inte är sparade!"
 :tab             "Flik"
 :quick-login     {:expired-title           "Login expired"
                   :expired-text            "Your login code has expired."
                   :invalid-title           "Invalid login code"
                   :invalid-text            "Your login code is not valid."
                   :contact-project-manager "If you need a new code, contact project manager at"
                   :username-password       "If you have a username and password:"}
 :offline-warning "Du verkar inte ha någon internetuppkoppling. Försäkra dig om att du är uppkopplad innan du postar."
 :download        "Ladda ned"
 :registration    {:begin-registration         "Påbörja registrering"
                   :personnummer               "Personnummer"
                   :personnummer-error         "Ange personnummer på formen 19121212-1212 (ÅÅÅÅMMDD-XXXX)"
                   :bankid-title               "Ange ditt personnummer för att starta verifiering med BankID."
                   :bankid-start               "Starta verifiering med BankID"
                   :provide-digits             "Skriv in siffrorna i bilden för att fortsätta med registreringen."
                   :captcha-error              "Fel siffror skrivna."
                   :form-title                 "Skriv in din information nedan."
                   :first-name                 "Förnamn"
                   :last-name                  "Efternamn"
                   :email                      "E-post"
                   :sms-number                 "Mobilnummer"
                   :repeat-password            "Upprepa lösenord"
                   :must-password              "Du måste skriva in ett lösenord"
                   :must-repeat                "Du måste upprepa ditt lösenord"
                   :repeat-not-match           "Upprepat lösenord machar inte lösenord."
                   :password-req-error         "Lösenordet måste vara 8-20 tecken och innehålla små och stora bokstäver samt siffror"
                   :password-req-info          "8-20 tecken, små och stora bokstäver samt siffror"
                   :must-enter                 "Du måste ange"
                   :change-information         "Ändra uppgifter"
                   :sms-country-error          "Felaktig landskod för mobilnummer"
                   :please-review              "Kontrollera och bekräfta dina uppgifter"
                   :validation-code            "Din valideringskod"
                   :validate-heading           "Bekräfta kontaktinformation"
                   :validate-info-m-e          "Vi har skickat valideringskoder till din mobiltelefon och din e-postadress. Skriv in dem nedan för att bekräfta din kontaktinformation."
                   :validate-info-e            "Vi har skickat en valideringskod till din e-postadress. Skriv in den nedan för att bekräfta din kontaktinformation."
                   :validate-info-m            "Vi har skickat en valideringskod till din mobiltelefon. Skriv in den nedan för att bekräfta din kontaktinformation."
                   :troubleshoot-m             "Prova att starta om din mobil om koden inte når den."
                   :troubleshoot-e             "Det kan dröja några minuter innan mejlet når dig. Om mejlet inte når dig, kontrollera din skräppost."
                   :code-sms                   "Kod skickad till mobil"
                   :code-email                 "Kod skickad till e-post"
                   :code-confirmed             "Kod bekräftad!"
                   :change-contact-information "Ändra kontaktinformation"
                   :cancel                     "Avbryt registrering"
                   :duplicate-heading          "Användare existerar redan"
                   :duplicate-info             "En användare med din information har redan registrerats"
                   :contact-project-manager    "Om du tror att detta är felaktigt, kontakta projektledare på "
                   :register-again             "Gå tillbaka till registrering"
                   :credentials-heading        "Dina inloggningsuppgifter"
                   :credentials-info           "Nedan finns dina inloggningsuppgifter. Var vänlig notera dessa och bevara dem på säker plats."
                   :entered-password           "Lösenordet som du valde"
                   :login-address              "Adressen till inloggningssidan är"
                   :credentials-noted          "Klicka här när du har noterat dina inloggningsuppgifter"}
 :dashboard       {:start           "Start"
                   :welcome         "Välkommen!"
                   :new-modules     "Du har tillgång till nya moduler"
                   :go-to-modules   "Gå till modulerna"
                   :go-to-messages  "Gå till meddelanden"
                   :treatment-dates "Din behandling startade %1 och slutar %2."
                   :days-remaining  "Du har %1 dagar kvar av behandlingen."
                   :last-day        "Detta är den sista behandlingsdagen"}
 :instrument      {:range-error     "Du måste ange ett värde mellan %s och %s."
                   :range-error-max "Du måste ange ett värde som är lika med eller högre än %s."
                   :range-error-min "Du måste ange ett värde som är lika med eller lägre än %s."
                   :pattern-error   "Ditt svar matchar inte specificerat mönster"
                   :must-answer     "Du måste besvara frågan."
                   :must-specify-1  "Du måste specificera ditt svar på frågan."
                   :must-specify-m  "Du måste specificera dina svar på frågan"
                   :order-count     "Formulär %1 av %2"
                   :page-count      "Sidan %s av %s"}
 :date-time       {:datetime-ns "yyyy-MM-dd HH:mm"
                   :date        "yyyy-MM-dd"
                   :time-ns     "HH:mm"
                   :today       "idag"
                   :tomorrow    "imorgon"
                   :in-days     "om %1 dagar"
                   :yesterday   "igår"
                   :days-ago    "%1 dagar sedan"}
 :messages        {:sent-on-from   "Skickat %2 av %1"
                   :from-therapist "Från %1 %2"
                   :must-message   "Du måste ange meddelandetext"
                   :subject        "Ämne"
                   :text           "Text"
                   :save-draft     "Spara utkast"
                   :messages       "Meddelanden"
                   :new-message    "Du har nya meddelanden"}
 :modules         {:modules                 "Moduler"
                   :activated               "Aktiverad"
                   :module-text             "Modultext"
                   :read-module-text        "Läs modultext"
                   :download-module-text    "Ladda ner modultext"
                   :complete-homework       "Genomför hemuppgift"
                   :download-homework       "Ladda ner hemuppgift"
                   :fill-in                 "Fyll i"
                   :no-module               "Modulen existerar inte"
                   :no-homework             "Denna modul har inga hemuppgifter"
                   :no-worksheet            "Denna modul har inte detta arbetsblad"
                   :worksheets              "Arbetsblad"
                   :homework                "Hemuppgifter"
                   :page-top                "Sidans topp"
                   :show-example            "Visa exempel"
                   :close-example           "Stäng exempel"
                   :submit-homework         "Skicka in hemuppgifter"
                   :retract-homework        "Ta tillbaka hemuppgifter"
                   :save-homework           "Spara utan att skicka in"
                   :not-available           "Inte tillgänglig"
                   :unread                  "Oläst"
                   :submitted-ok-title      "Genomförd!"
                   :submitted-ok-text       "Du har skickat in dina hemuppgifter och de har granskats av din behandlare."
                   :submitted-waiting-title "Inskickat!"
                   :submitted-waiting-text  "Du skickade in dina hemuppgifter %1 och de väntar på att granskas av din behandlare."}
 :login           {:login                   "Logga in"
                   :must-username           "Ange ditt användarnamn"
                   :must-password           "Ange ditt lösenord"
                   :username-password-error "Fel användarnamn eller lösenord"
                   :please-double-auth      "Ange din autenticeringskod"
                   :code                    "Kod"
                   :code-error              "Fel kod angiven"
                   :no-send-method          "Du har ingen registrerad e-postadress eller mobiltelefonnummer vilket krävs för inloggning. Kontakta support på %1."
                   :re-auth                 "Ange lösenord igen"
                   :password-error          "Fel lösenord"
                   :please-re-auth          "Ange ditt lösenord för att fortsätta använda systemet."
                   :please-re-auth-form     "Ditt lösenord krävs innan du kan posta till systemet."
                   :no-activities           "Inga aktiviteter"
                   :no-activities-info      "Det finns inga aktiviteter för denna användare. Du har loggats ut."}
 :error           {:something-happened    "Något dåligt hände!"
                   :page-not-found        "Sida kunde inte hittas"
                   :page-not-found-longer "Den sida du begärde kunde inte hittas."
                   :go-back               "Prova att gå tillbaka i din webbläsare"
                   :or-login              "eller gå till inloggningssidan"
                   :login                 "Gå till inloggningssidan"
                   :timeout-hard          "Du har blivit utloggad. Du kommer att omdirigeras till inloggninssidan."
                   :try-reload            "Något har gått fel och du kan inte skicka in din data. Försök igen eller ladda om sidan."
                   :not-authorized        "Ej auktoriserad."
                   :not-authorized-longer "Du har inte tillåtelse att visa denna sida."
                   :server-busy           "Servern är upptagen för närvarande. Försök igen om några sekunder."}
 :number          {:1  "ett"
                   :2  "två"
                   :3  "tre"
                   :4  "fyra"
                   :5  "fem"
                   :6  "sex"
                   :7  "sju"
                   :8  "åtta"
                   :9  "nio"
                   :10 "tio"}
 :bankid          {:title             "BankID-verifiering"
                   :ongoing-title     "Pågående BankID-verifiering"
                   :ongoing-text      "Du har en pågående verifieringsprocess i BankID. Vill då återgå till BankID?"
                   :ongoing-return    "Ja, jag vill fortsätta med BankID"
                   :ongoing-cancel    "Nej, jag vill avbryta BankID"
                   :no-session-title  "Ingen pågående BankID-verifiering"
                   :no-session-text   "Du har ingen pågående verifieringsprocess i BankID. Klicka på bakåt i din webbläsare för att återgå till föregående sida."
                   :contacting        "Kontaktar"
                   :contacting-bankid "Kontaktar BankID"
                   :pending           "Väntar"
                   :failed            "Misslyckades"
                   :error             "Fel"
                   :error-text        "Ett okänt fel har inträffat."
                   :cancel-go-back    "Klicka på avbryt och gå tillbaka."
                   :no-session        "Ingen BankID verifiering pågår."
                   :rfa1              "Starta BankID-appen"
                   :rfa2              "Du har inte BankID-appen installerad. Kontakta din internetbank."
                   :rfa3              "Åtgärden avbruten. Försök igen."
                   :rfa3-first        "En annan beställning av BankID gjordes samtidigt för samma personnummer. Åtgärden avbruten. Försök igen."
                   :rfa3-second       "En inloggning eller underskrift för det här personnumret är redan påbörjad. Åtgärden avbruten. Försök igen."
                   :rfa5              "Internt tekniskt fel. Försök igen."
                   :rfa6              "Åtgärden avbruten."
                   :rfa8              "BankID-appen svarar inte. Kontrollera att den är startad och att du har internetanslutning. Om du inte har något giltigt BankID kan du hämta ett hos din Bank. Försök sedan igen."
                   :rfa9              "Skriv in din säkerhetskod i BankID- appen och välj Legitimera eller Skriv under."
                   :rfa13             "Försöker starta BankID-appen."
                   :rfa14             "Söker efter BankID, det kan ta en liten stund...\nOm det har gått några sekunder och inget BankID har hittats har du sannolikt inget BankID som går att använda för den aktuella inloggningen/underskriften i den här enheten. Om du inte har något BankID kan du hämta ett hos din internetbank. Om du har ett BankID på en annan enhet kan du starta din BankID-app där."
                   :rfa15             "Söker efter BankID, det kan ta en liten stund...\nOm det har gått några sekunder och inget BankID har hittats har du sannolikt inget BankID som går att använda för den aktuella inloggningen/underskriften i den här enheten. Om du inte har något BankID kan du hämta ett hos din internetbank."
                   :rfa16             "Det BankID du försöker använda är för gammalt eller spärrat. Använd ett annat BankID eller hämta ett nytt hos din internetbank."
                   :rfa17             "BankID-appen verkar inte finnas i din dator eller telefon. Installera den och hämta ett BankID hos din internetbank. Installera appen från install.bankid.com."
                   :rfa18             "Starta BankID-appen."
                   :rfa19             "Vill du logga in eller skriva under med BankID på den här datorn eller med ett Mobilt BankID?"
                   :rfa20             "Vill du logga in eller skriva under med ett BankID på den här enheten eller med ett BankID på en annan enhet?"
                   :rfa21             "Inloggning eller signering pågår."
                   :rfa22             "Okänt fel. Försök igen"}}