.hidden {
    display: none;
}

div#instrument {
    font-size: 12px;
}

div#instrument .cell{
    display: inline-block;
    vertical-align: top;
    padding: 5px 2px 5px 2px;
}


div#instrument .cell .option.single{
    display: block;
    padding: 3px;
}