.hidden {
    display: none;
}


/***********************
    Instrument layout
 ***********************/

div#instrument.classic {
    font-size: 11.2px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#instrument .col .option.line{
    display: block;
    padding: 5px 2px 5px 2px;
}

div#instrument.desktop > div{
    width: 700px;
}

div#instrument.desktop.responsive .col.cell .option-label{
    display: none;
}

/*
div#instrument.desktop .col{
    display: inline-block;
    padding: 5px 0px 5px 0px;
}
*/


div#instrument .col{
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 5px 0;
}

div#instrument.desktop .mobile-only{
    display: none;
}

div#instrument.mobile .desktop-only{
    display: none;
}

div#instrument.mobile .item-div{
    width: 100%;
}

div#instrument.mobile .col.cell, div#instrument .option.line{
    display: block;
    padding: 5px 2px 5px 2px;
}

div#instrument .content{
    padding-left: 2px;
    padding-right: 2px;
}


/*
div#instrument.mobile .col.cell .option.cell{
    display: block;
}

div#instrument.mobile .col.content{
    display: inline;
    vertical-align: top;
    padding: 5px 2px 5px 2px;
}

div#instrument.mobile .col.cell .option-label{
    display: initial;
}
*/


/***********************
        Slider
 ***********************/

div#instrument .slider{
    display: inline-block;
    text-align: center;
    width: 410px;
}

.ui-slider-horizontal {
    height: 12px;
    width: 400px;
}

.ui-slider .ui-slider-handle {
    height: 16px;
    width: 16px;
}

div#instrument .slider-label-left {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    width: 100px;
}

div#instrument .slider-label-right {
    text-align: left;
    padding-left: 5px;
    display: inline-block;
    width: 100px;
}

div#instrument .slider-container {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

/***********************
    Interactive colors
 ***********************/

div#instrument .has-option:hover{
    background-color: #DDDDDD;
}

div#instrument .item-div.has-data{
    background-color: #EEEEEE;
}

div#instrument .item-div.jumped-over {
    background-color: #BBBBBB;
}
