.hidden {
    display: none;
}

/***********************
    Instrument layout
 ***********************/

div#instrument.classic .instrument-elements {
    font-size: 11.2px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#instrument .order-count {
    width: 100%;
    text-align: center;
}

#page-selector .btn {
    margin-left: 2px;
    margin-right: 2px;
}

div#instrument .instrument-show-name, div#instrument .order-count, div#instrument .page-count {
    width: 100%;
    text-align: center;
}

/*

This style is defined below - seems redundant

div#instrument .col .option.line{
    display: block;
    padding: 5px 2px 5px 2px;
}
*/

div#instrument.desktop > div {
    width: 700px;
}

div#instrument.responsive.desktop .col.cell .option-label {
    display: none;
}

/*
div#instrument.desktop .col{
    display: inline-block;
    padding: 5px 0px 5px 0px;
}
*/

div#instrument .col {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 5px 0;
}

div#instrument.responsive.desktop .mobile-only {
    display: none;
}

div#instrument.responsive.mobile .desktop-only {
    display: none;
}

div#instrument.responsive.mobile .item-div {
    width: 100%;
    margin-top: 10px;
}

div#instrument.responsive.mobile .col.cell, div#instrument .option.line {
    display: block;
    padding: 5px 2px 5px 2px;
}

div#instrument .content {
    padding-left: 2px;
    padding-right: 2px;
}

div#instrument textarea {
    width: 100%;
}

/*
div#instrument div.navigate{
    width: 100%;
}
*/

div#instrument div.navigator div {
    display: inline-block;
}

div#instrument.desktop div.navigator div {
    width: 50%;
}

div#instrument.desktop div.navigator div.right {
    text-align: right;
}

div#instrument div.navigator div.left button {
    margin-right: 10px;
}

div#instrument div.navigator button {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
div#instrument.mobile .col.cell .option.cell{
    display: block;
}

div#instrument.mobile .col.content{
    display: inline;
    vertical-align: top;
    padding: 5px 2px 5px 2px;
}

div#instrument.mobile .col.cell .option-label{
    display: initial;
}
*/

/***********************
        Slider
 ***********************/

div#instrument .slider {
    display: inline-block;
    text-align: center;
    width: 410px;
}

.ui-slider-horizontal {
    height: 12px;
    width: 400px;
}

.ui-slider .ui-slider-handle {
    height: 16px;
    width: 16px;
}

div#instrument .slider-label-left {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    width: 100px;
}

div#instrument .slider-label-right {
    text-align: left;
    padding-left: 5px;
    display: inline-block;
    width: 100px;
}

div#instrument .slider-container {
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

/***********************
    Interactive colors
 ***********************/

div#instrument .has-option:hover {
    background-color: #EEEEEE;
}

div#instrument .item-div.has-data {
    #background-color: #EEEEEE;
    background-color: #d9d9d9;
}

div#instrument .item-div.jumped-over {
    background-color: #737373;
}

div#instrument .item-error {
    margin-bottom: 0;
    margin-top: 16px;
}

/***********************
    Layout
 ***********************/

#page-title {
    margin-left: 6px;
    margin-right: 0;
}

#main-nav {
    background-color: #80bdff;
}

/***********************
    Modules
 ***********************/

#module-navbar {
    padding: 0 6px;
}

#module-text {
    position: relative;
    /*margin-top: .5rem;*/
    overflow-y: scroll;
}

#module-navbar .navbar-nav .navbar-text, .module .navbar-nav .nav-link {
    padding: 0;
}

#module-navbar .navbar-nav {
    flex-direction: row;
}

#module-section-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#module-navbar .dropdown-toggle::after {
    display: none;
}

.treatment-content input[type=text], textarea {
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

/*
    Make titles smaller in treatment content
    since it is rendered from Markdown which
    should be able to use h1
 */

.treatment-content h1 {
    font-size: 1.75rem;
}

.treatment-content h2 {
    font-size: 1.25rem;
}

.treatment-content h3, h4, h5, h6 {
    font-size: 1rem;
}

/***********************
    Load spinner
 ***********************/

#load-spinner .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(33% - 24px);
}

#load-spinner .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
}

#load-spinner .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
}

#load-spinner .fa-spinner {
    color: transparent;
}

/***********************
    Messages
 ***********************/

.card.message {
    margin-bottom: 10px;
}

.card.message.participant .card-footer {
    background-color: rgba(0, 0, 255, .15);
}

.card.message.participant .card-body {
    background-color: rgba(0, 0, 255, .30);
}

.card.message.therapist .card-footer {
    background-color: rgba(0, 0, 0, .03);
}

.card.message.therapist .card-body {
    background-color: rgba(0, 0, 0, .06);
}

.card.message.therapist.unread .card-footer {
    background-color: rgba(0, 255, 0, .03);
}

.card.message.therapist.unread .card-body {
    background-color: rgba(0, 255, 0, .09);
}

.modal-backdrop {
    background-color: transparent;
}

/***********************
    Modules list
 ***********************/

.modules-list .list-group-item {
    padding-left: 0;
}

.modules-list .card-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modules-list .card {
    margin-bottom: 20px;
}

.iti-flag {
    background-image: url("path/to/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
        background-image: url("path/to/flags@2x.png");
    }
}