{% extends "simple.html" %}
{% block content %}

<h1>Send update password link</h1>
<p>
    Links are valid for 48 hours.
</p>
{% if valid-until %}
<div class="alert alert-primary" role="alert">
    User has been sent a password link that is valid until {{valid-until}}.
    If you send a new link, the old link will become unusable.
</div>
{% endif %}
<form method="post" data-on-success="error_report_success">
    <div class="form-group">
        <div class="form-check form-check-inline">
            <label class="form-check-label">Send by</label>
        </div>
        {% if all email sms-number %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type"
                   id="message-type-email" value="email" onchange="type_change();" checked>
            <label class="form-check-label" for="message-type-email">
                Email: {{email}}
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type"
                   id="message-type-sms" value="sms" onchange="type_change();">
            <label class="form-check-label" for="message-type-sms">
                SMS: {{sms-number}}
            </label>
        </div>
        {% elif email %}
        <div class="form-check form-check-inline">
            <label class="form-check-label">Email: {{email}}</label>
            <input type="hidden" name="type" value="email">
        </div>
        {% else %}
        <div class="form-check form-check-inline">
            <label class="form-check-label">SMS: {{sms-number}}</label>
            <input type="hidden" name="type" value="sms">
        </div>
        {% endif %}
    </div>
    {% if email %}
    <div class="form-group">
        <label for="message-subject">Subject</label>
        <input type="text" class="form-control" name="subject"
               id="message-subject" placeholder="Subject" required>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control"
                  name="message" rows="4" id="message"
                  onkeyup="update_character_count();" onchange="update_character_count();"
                  maxlength="{{max-chars}}" required>{LINK}</textarea>
        <small class="form-text">Characters left <span id="error-description-chars">{{max-chars}}</span></small>
    </div>
    <button type="submit" class="btn btn-fill btn-primary" id="message-submit">Send password link</button>
</form>
{% endblock %}

{% block page-scripts %}
<script type="text/javascript">
   // @formatter:off
   var link_length = {{link-length}} - '{LINK}'.length;
   var sms_max_length = {{sms-max-length}} - link_length;
   var email_max_length = {{email-max-length}} - link_length;
   // @formatter:on

   function error_report_success() {
      alert('Link has been sent to user. You can close this window.');
      location.reload();
   }

   function update_character_count() {
      var $message = $('#message');
      var $chars_left = $('#error-description-chars');
      var valid = true;
      var $submit = $('#message-submit');
      if ($message.val().indexOf('{LINK}') === -1) {
         $chars_left.text('Message must include "{LINK}"');
         valid = false;
      } else {
         var max_length = $message.prop('maxlength');
         var text_length = $message.val().length;
         if (text_length <= max_length) {
            $chars_left.text(max_length - text_length);
         } else {
            $chars_left.text('too long');
            valid = false;
         }
      }
      if (valid) {
         $submit.prop('disabled', false);
      } else {
         $submit.prop('disabled', true);
      }
   }

   var old_subject = '';

   function type_change() {
      var type;
      var $type_radio = $('input[name=type]:checked');
      if ($type_radio.length > 0) {
         type = $type_radio.val();
      } else {
         type = $('input[name=type]').val();
      }
      var $message = $('#message');
      var $subject = $('#message-subject');
      if (type === 'sms') {
         old_subject = $subject.val();
         $subject.val('');
         $subject.prop('placeholder', 'Subject not used for SMS');
         $subject.prop('disabled', true);
         $message.prop('maxlength', sms_max_length);
      } else {
         $subject.val(old_subject);
         $subject.prop('placeholder', 'Subject');
         $subject.prop('disabled', false);
         $message.prop('maxlength', email_max_length);
      }
      update_character_count();
   }

   $().ready(type_change);
</script>
{% endblock %}
